#subscribe_container {
	font-family: Arial;
	font-size: 12px;
}
#subscribe_container h2 {
	font-size: 1.4em;
	font-weight: bold;
	letter-spacing: 2px;
}
#subscribe_container .form-desc {
	
}
#subscribe_container .formfield-item {
	padding: 8px 0px;
}
#subscribe_container .formfield-item label {
	display:block;
	float:left;
	margin-bottom: 3px;
	margin-right:10px;
	margin-top:4px;
	width:130px;
}
#subscribe_container .formfield-item label.checkbox-label {
	display: inline;
	float: none;
}
#subscribe_container .formfield-item input {
	padding: 3px;
	font-family: Arial;	
}
#subscribe_container .formfield-item input.number-field {
	width: 50px;
}
#subscribe_container ul.radio li {
	list-style-type: none;
	display: block;
}
#subscribe_container ul.radio li label {
	display: inline;
	float: none;
}
#subscribe_container ul.radio li input {
	width:14px;
	margin-left: 0;
}
#subscribe_container .form-submit {	
	margin-top: 15px;
}

form.subscribe_form {
	width: 410px;
	padding-top: 30px;
	font-size: 12px;
	font-family: Arial;
}
#subscribe_container {
	font-family: Lucida Grande,Tahoma,Arial,Verdana,sans-serif;
	padding: 1px 10px 10px;
	width: 390px;
}
#subscribe_container h2 {
	font-size: 160%;
	font-weight: 400;
}
#subscribe_container .form-desc {
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#subscribe_container .formfield-item {
	padding: 8px 10px;
}
#subscribe_container .formfield-item label {
	font-weight: bold;
}
#subscribe_container ul.radio {
	margin-left: 100px;
	margin-top: 2px;
}
#subscribe_container ul.radio li {
}
#subscribe_container .formfield-item input[type="checkbox"] {
	width: auto;
	margin-left: 140px;
}
#subscribe_container .formfield-item select {
	padding: 3px;
}
#subscribe_container ul.radio li label {
	font-weight: normal;
}
