#subscribe_container {
	/*font-family: Arial;*/
	font-size: 12px;
}
#subscribe_container h2 {
	/*font-size: 1.4em;
	font-weight: bold;*/
	letter-spacing: 2px;
}
#subscribe_container .form-desc {
	
}
#subscribe_container .formfield-item {
	/*padding: 8px 0px;*/
}
#subscribe_container .formfield-item label {
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
}
#subscribe_container .formfield-item label.checkbox-label {
	display: inline;
}
#subscribe_container .formfield-item input {
	padding: 3px;
	font-family: Arial;
	margin:0;
}
#subscribe_container .formfield-item input.number-field {
	width: 50px;
}
#subscribe_container ul.radio li {
	list-style-type: none;
	display: block;
}
#subscribe_container ul.radio li label {
	display: inline;
}
#subscribe_container .form-submit {	
	margin-top: 15px;
}
#subscribe_container textarea {
	width: 100%;
}

form.subscribe_form {
	width: 410px;
	padding-top: 30px;
	font-size: 12px;
	font-family: Arial;
}
#subscribe_container {
	font-family: Lucida Grande,Tahoma,Arial,Verdana,sans-serif;
	padding: 1px 10px 10px;
	width: 390px;
}
#subscribe_container h2 {
	font-size: 160%;
	font-weight: 400;
}
#subscribe_container .form-desc {
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#subscribe_container .formfield-item {
	padding: 8px 10px;
}
#subscribe_container .formfield-item label {
	font-weight: bold;
}
#subscribe_container .formfield-item input {
	width: 100%;
}
#subscribe_container .formfield-item select {
	padding: 3px;
}
#subscribe_container ul.radio li {
	margin-left: -40px;
}
#subscribe_container ul.radio li input {
	width: auto;
}
#subscribe_container .formfield-item input[type="checkbox"] {
	width: auto;
}
#subscribe_container ul.radio li label {
	font-weight: normal;
}