form.subscribe_form {
	background-color: #C3313B;
	border: 1px solid #BFA48F;
	color: #553216;
}
#subscribe_container {
	background-color: #F8F6E1;
}
#subscribe_container h2 {
	font-family: Georgia;
	font-size: 170%;
	font-weight: normal;
	line-height: 100%;
}
#subscribe_container .formfields {
    color: #553216;
}
#subscribe_container .form-desc {
	border-bottom:1px solid #BFA48F;
}
#subscribe_container .formfield-item input {
	border-width: 1px;
	border-style: solid;
	border-color: #BFA48F;
}
#subscribe_container ul.radio li input {
	border: 0;
}
#subscribe_container .formfield-item input[type="checkbox"] {
	border: 0;
}
#subscribe_container .form-submit {
    text-align: center;
}
#subscribe_container .formfields .active{
    background-color: #FFDAAF;
}