@CHARSET "UTF-8";
* { 
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	color: #000;
	text-align: center;
	font: normal 12px arial, helvetica, sans-serif;
	background: #fff !important;
	background-image: url('../img/hireso_bg_body.png') !important;
	background-repeat: repeat-x !important;
}

#dialogAdditional {
	width: 500px;
	margin: 100px auto 0 auto;
}
#dialogWrapper {
	width: 450px;
	margin: 0 auto;
	min-width: inherit;
	padding: 0px 20px 10px 20px;
	text-align: left;
}
#dialog {
	
	background-color: #b51819;	
	
	padding: 20px 35px 1px 27px;
	border-width:1px 1px 1px 1px;
	border-color:#3f5966;
	border-style:solid;
	background-color:#FFFFFF;
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
	-webkit-box-shadow: 0px 0px 14px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 14px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 14px rgba(50, 50, 50, 0.75);	
}
#dialogFooter {
	/*background: url("../img/login/login-footer.png") no-repeat top left;*/
	border-width:0px 1px 1px 1px;
	border-color:#3f5966;
	border-style:solid;
	background-color:#FFFFFF;
	height: 20px;
	-moz-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
}


h1 {
	font-size: 24px;
	margin: 7px 0 8px 0;
	padding: 0 0 25px 0;
	text-align: left;
	line-height: 26px;
	padding: 12px 0 25px 0 !ie;
	
	font-size:24px; 
	font-size-adjust:none;
	
	font-weight:normal;
}

p {	
	margin-top: 18px;
	text-align: left;
	font-size: 12px;
	line-height: 20px;
}

p span {
	font-size: 10px;
	line-height: 16px;
}

p.hiba {
	color:#ff0000;
}

p.footer {
	font-size: 10px;
	line-height: 16px;
	margin-top: 10px;
	color:#8b7d5a;
	text-align:center;
}

a {
	color:#227FAF;
	text-decoration:underline;
}

a:hover {
	text-decoration:none;
}