@CHARSET "UTF-8";


body {
	margin: 0 auto;
	color: #000;
	text-align: center;
	font: normal 12px arial, helvetica, sans-serif;
	background: #fff !important;
	background-image: url('../img/hireso_bg_body.png') !important;
	background-repeat: repeat-x !important;	
}

.ui-widget-header {
border: 1px solid #b51819 !important;
background: #b51819 50% 50% repeat-x  !important;
color: #ffffff;
font-weight: bold;
}

#case .shadowHeader, #case .shadowHeader .shadowMidLeft, #primaryNavs {
	background-color: #fff;
}

.shadowHeader .shadowMidLeft{
	background-image: url('../img/hireso_header_back.jpg') !important;
	background-repeat: norepeat !important;
	background-color: #fff;
	background-position: right;
}

.navheaderleft {
	background-color: #fff;
	//
}

#header{
border-bottom: 2px solid #b51819
}

#formCasing {
	background-color: #b51819;
}

table.tableTabsHeader th {
	color: #fff;
	background-color: #b51819;
}

table.tableTabs td.tabOnLeft {
	background-color: #b51819;
}

table.tableTabs td.tabOnRight {
	background-color: #b51819;
}

.tabOnLeft div{
	color: #fff !important;
}

table.tableHeader th {
	background-color: #b51819;
}

.pagination a:link, .pagination a:visited {
	background: #b51819;
}


.formBG {
background: #fbf6f6;
}

div.subscriberSnapshot {
background: #fbf6f6;
}


/* ----- PRIMARY NAVS ----- */

#primaryNavs {
	margin: 0 6px 0 6px;
}
#primaryNavs ul {
	margin:0;
	padding:0 15px 0 0;
	list-style:none;
}
#primaryNavs li {
	display:inline;
	margin:0;
	padding:0;
}
#primaryNavs a {
	float:left;
	background:url("../img/navigation/rozsda/left_both_hireso.png") no-repeat left top;
	margin:0;
	padding:0 0 0 12px;
	text-decoration:none;
	font-size: 12px;
	display: inline;
}

#primaryNavs a span {
	float:left;
	display:block;
	background:url("../img/navigation/rozsda/right_both_hireso.png") no-repeat right top;
	padding:8px 12px 8px 0;
	font-weight:bold;
	color:#fff;
	/*text-shadow: #fff 1px 1px 1px;*/
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#primaryNavs a span {float:none;}
/* End IE5-Mac hack */
#primaryNavs a:hover span {
	color:#202d33;
}
#primaryNavs #current a {
	background-image:url("../img/navigation/rozsda/left_on.png");
	border-width:0;
}

#primaryNavs #current a span {
	background-image:url("../img/navigation/rozsda/right_on.png");
	color:#374b56;
	padding-bottom:8px;
	text-shadow: none;
}
#primaryNavs #currentSub a {
	background-image:url("../img/navigation/cm-blue/left-sub_on.gif");
	border-width:0;
}
#primaryNavs #currentSub a span {
	background-image:url("../img/navigation/cm-blue/right-sub_on.gif");
	color:#06476f;
	padding-bottom:8px;
	text-shadow: none;
}
#primaryNavs a:hover {
	background-position:0% -31px;
}
#primaryNavs a:hover span {
	background-position:100% -31px;
}
#primaryNavs #current a:hover, #primaryNavs #currentSub a:hover {
	background-position: top left;
}
#primaryNavs #current a:hover span, #primaryNavs #currentSub a:hover span {
	background-position: top right;
}
#secondaryNavs ul {
	margin-right: 5px;
}
#secondaryNavs a {
	float:right;
	background:url("../img/navigation/rozsda/left_both_hireso.png") no-repeat left top;
	margin:0;
	padding:0 0 0 12px;
	text-decoration:none;
}

#secondaryNavs a span {
	float:right;
	display:block;
	background:url("../img/navigation/rozsda/right_both_hireso.png") no-repeat right top;
	padding:8px 12px 8px 0;
	font-weight:bold;
	color:#fff;
	/*text-shadow: #fff 1px 1px 1px;*/
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#secondaryNavs a span {float:none;}
/* End IE5-Mac hack */



p.error {
color: #cc2a2a;
padding-bottom: 5px;
background-color: white;
padding: 5px;
text-align: center;
font-weight: bold;
}


