@charset "utf-8";
* { 
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	color: #595959;
	background-color: #d0c3a3;
	text-align: center;
	font: normal 12px arial, helvetica, sans-serif;
	background:#f1f4fd; 	 
}
#formWrapper {
	width: 450px;
	margin: 0 auto;
	min-width: inherit;
	padding: 0px 20px 10px 20px;
	text-align: left;
}
#formCasing {
	background-color:#0e3257;
	/*background: url("../img/login/login_bg.gif") repeat-x 0 -25px;*/  
	padding: 20px 35px 12px 27px;
	border-width:0px 0px 0px 0px;
	border-color:#3f5966;
	border-style:solid;
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
	/*
	-moz-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	*/
-webkit-box-shadow: 0px 0px 14px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 14px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 14px rgba(50, 50, 50, 0.75);	
}
#formFooter {
	/*background: url("../img/login/login-footer.png") no-repeat top left;*/
	border-width:0px 0px 0px 0px;
	border-color:#3f5966;
	border-style:solid;
	background-color:#FFFFFF;
	height: 18px;
	/*
	-moz-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	*/
}
#additional {
	width: 500px;
	margin: 100px auto 0 auto;
}
form dl {
  	margin: 15px 0;
}
form dt {
  	float: left;
	width: 112px;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	padding-top: 5px;
	text-align:left;
}
form dd {
  	margin: 0 0 10px 122px;
	font-size: 12px;
	line-height: 24px;
	color: #848484;
	margin-left: 80px;
}
dd span {
	color: #ccc;
}
dd span a {
	color:#227FAF;

}
h1 {
	font-size: 24px;
	margin: 7px 0 8px 0;
	padding: 0 0 25px 0;
	text-align: left;
	line-height: 26px;
	padding: 12px 0 25px 0 !ie;
	color:#fff;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:24px;
	font-size-adjust:none;
	font-style:italic;
	font-weight:normal;
}
h2 {
	font-size: 14px;
	color: #2ba02c;
}
input.input {
	font-size: 14px;
	padding: 8px 5px;
	font: normal 14px arial, helvetica, sans-serif;
	border: 1px solid #dcdcdc;
	background-color:#f9f9f9;
	color: #444;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
}
input.input:focus {
	border: 1px solid #bfbfbf;
	outline: none;
}
input.button {
	padding: 0;
	vertical-align: middle;
}
input#username {
	width: 250px;
}
input#password {
	width: 150px;
	margin-right: 5px;
}
input#emailpassword {
	vertical-align: middle;
	margin-right: 5px;
}
input#forgot {
	width: 250px;
}
input.checkbox {
	border: 0;
	padding: 0;
}
p {	
	margin-bottom: 18px;
	text-align: left;
	font-size: 14px;
	line-height: 18px;
}
p em {
	font-style: italic;
	color: #a1a1a1;
}
p.success {
	color: #12863b;
	padding-bottom: 5px;
}
p.error {
	color: #cc2a2a;
	padding-bottom: 5px;
}
p.extraPad {
	margin-bottom: 30px;
}
#successBig {
	background: #e1ffd1;
	border-top: 1px solid #c5f8ac;
	border-bottom: 1px solid #c5f8ac;
	margin: 0 0 50px 0;
	padding: 5px 20px 15px 20px;
	text-align: left;
}
#successBig h1 {
	padding: 10px 0 3px 0;
	text-align: left;
	font-size: 20px;
	color: #000;
}
#successBig h2 {
	font-size: 16px;
	padding: 8px 10px;
	margin: 5px 0 15px 0;
	text-align: left;
	background: #c4edaf;
}
#successBig p {
	color: #535e51;
	padding: 0 0 10px 0;
	margin: 0;
}
#failure {
	background: #ffd1d1 url("../img/icons/alert-failure.gif") no-repeat 13px 11px;
	border-top: 1px solid #f8acac;
	border-bottom: 1px solid #f8acac;
	margin: 0;
	padding: 10px 10px 10px 35px;
}
#failure h3 {
	color: #8d3f3f;	
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: left;
}
.failureMessage {
	background: #fff1f1;
	border-bottom: 1px solid #fddcdc;
	padding: 15px 20px 5px 20px;
	color: #664b4b;
	margin-bottom: 30px;
}
.clearButton {
	clear: both; 
	height: 1px;
	text-overflow: none;
}
span.formcancel {
	display: block;
	width: 110px;
	padding-top: 8px;
	float: left;
	color: #999;
}

.mybutton {
margin-top:20px;
}

.mybutton a.button, .mybutton button {
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #a4a4a4;
    border-top:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;
	
	background:url(../img/buttons/mybutton_bg.jpg) repeat-x scroll 0 0;
	
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-radius: 4px;
	
    font-family: Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:17px;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:6px 11px 7px 8px; /* Links */
}
.mybutton button {
    width:auto;
    overflow:visible;
    padding:5px 11px 4px 8px; /* IE6 */
}
.mybutton button[type]{
    padding:6px 11px 6px 8px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:5px 11px 4px 8px; /* IE7 */
}
.mybutton button img, .mybutton a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

.mybutton a.button:hover, .mybutton button:hover {
    border:1px solid #5984ff;
    border-top:1px solid #84a4ff;
    border-left:1px solid #84a4ff;
}

code {
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	font-size: 12px;
	line-height: 16px;
}
code span {
	color: #888;
}
