@charset "utf-8";
/* ----- GLOBAL & BODY ----- */

* { 
	margin: 0;
	padding: 0;
}
body {
	color: #333;
	text-align: center;
	font: normal 12px arial, helvetica, sans-serif;
	padding-bottom: 20px;
}
.clear {
	clear: both; 
	height: 1px;
	text-overflow: none;
}
.clear { display: inline !ie; }
.clearButton {
	clear: both; 
	height: 10px;
	text-overflow: none;
}
.clearMyHead {
    clear:both;
    height:1px;
	text-overflow: none;
	background:#fff url(../img/bg/rozsda/clearHead.png) no-repeat top right;
	_background-image: none;
	width: 100%;
}
.clearActivity {
	clear: both; 
	height: 1px;
	text-overflow: none;
	padding-top: 40px !ie;
}
.right {
	float: right;
}
.camelCase {
	text-transform: capitalize;
}


/* ----- PAGE CASING ----- */

#case {
 width:96%;
 margin:0px auto;
 min-width:950px;
 max-width:1800px;
-webkit-box-shadow: 0px 0px 14px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 14px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 14px rgba(50, 50, 50, 0.75); 
}
#case .shadowHeader, #case .shadowHeader .c {

}
#case .shadowBottomLeft .shadowMidLeft {

}
#case .shadowBottomLeft .shadowMidLeft {

}
#case .shadowHeader {

}
#case .shadowHeader .shadowMidLeft {

}
#case .shadowWrap {
 background:#fff;
 /*margin-right:6px;*/
 _margin-right:0;
}
#case .shadowWrap .shadowMidLeft {
 /*background:transparent url(../img/bg/mr.png) repeat-y right 0px;*/
 margin-right:-6px;
 _margin-right:0;
 _background: none;
 _background-color: #FFF;
}
#case .shadowWrap .shadowMidLeft .shadowMidContent {
 margin:0px 8px 0px 4px;
 _margin:0;
 background:#fff;
 text-align: left;
}
#case .shadowBottomLeft {
 /*background:transparent url(../img/bg/bl.png) no-repeat 0px 0px;*/
 margin-right:14px;
 _margin-right:0;
 _background: none;
}
#case .shadowBottomLeft .shadowMidLeft {
 /*background:transparent url(../img/bg/br.png) no-repeat right 0px;*/
 margin-right:-14px;
 _background: none;
 _margin-right:0;
 _background-color: #FFF;
}

/* ----- PAGE STRUCTURE ----- */

#dashboard {
	padding: 22px 18px 25px 15px;
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}
#clientList {
	float: left;
	width: 32%;
}
#kampanyList {
	float: left;
	width: 300px;
}
#kampanyActivity {
	margin: 0 0 0 300px;
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}
#clientActivity {
	margin: 0 0 0 32%;
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}
#activityBG {
	margin: 0 0 0 23px;
	background:#fff url(../img/bg/2col.png) no-repeat left bottom;
	_background:#fff url(../img/bg/2col.gif) no-repeat left bottom;
}
#activityContent {
	padding: 0 0 0 25px;
	background:transparent url(../img/bg/2col-top.png) no-repeat left top;
	_background:transparent url(../img/bg/2col-top.gif) no-repeat left top;
}
#productUpdates {
	float: left;
	width: 47%;
}
#forumUpdates {
	margin: 0 0 0 47%;
	padding-left: 25px;
}
.twocol {
	background:#fff url(../img/bg/2col.png) no-repeat right bottom;
	_background:#fff url(../img/bg/2col.gif) no-repeat right bottom;
}
#singleDoubleContent {
	padding: 15px 18px 0 15px;
	position: relative;
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
	margin-bottom: 0px;
}
#content {
	padding: 15px 18px 25px 15px;
	position: relative;
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}
.twocol #content {
	background:transparent url(../img/bg/2col-top.png) no-repeat right top;
	_background:transparent url(../img/bg/2col-top.gif) no-repeat right top;
}
#leftcol {
	margin-right: 261px;
	min-height: 350px;
  	height:auto !important;
  	height:350px;
}
body.billing #leftcol {
	margin-right: 261px;
	min-height: 450px;
  	height:auto !important;
  	height:450px;
}
body.google #leftcol {
	margin-right: 261px;
	min-height: 400px;
  	height:auto !important;
  	height:400px;
}
body.subscriberlist #leftcol {
	margin-right:261px;
	min-height:560px;
	height:auto !important;
	height:560px;
}
body.listindex #leftcol {
	margin-right: 261px;
	min-height: 250px;
  	height:auto !important;
  	height:250px;	
}
body.analytics #leftcol {
	margin-right: 261px;
	min-height: 400px;
  	height:auto !important;
  	height:400px;	
}
body.campaignindex #leftcol {
	margin-right: 261px;
	min-height: 250px;
  	height:auto !important;
  	height:250px;	
}
body.help #leftcol {
	margin-right: 261px;
	min-height: 550px;
  	height:auto !important;
  	height:550px;	
}
body.clientdashboard #rightcol {
	padding-top: 30px;
}
body.clientdashboard {
}
body.subscriberlist #rightcol {
	margin-top: 35px;
}
body.listindex #rightcol {
	padding-top: 35px;
}
body.campaignReport #rightcol {
	padding-top: 58px;
}
body.campaignReportText #rightcol {
	padding-top: 48px;
}
body.campaignindex #rightcol {
	padding-top: 55px;
}
#rightcol {
	position:absolute;
	top: 0px;
	right: 17px;
	width: 218px;
	padding: 0 0 0 0;
}
.gallery {
	float: left;
	margin: 6px;
	width: 40px;
	text-align: center;
}
.gallery input {
	clear: both;
}
.gallery img {
	padding-bottom: 2px;
	clear: both;
}
p.bread {
	font-size: 11px;
	line-height: 14px;
	margin: 5px 0 5px 0;
	padding-bottom: 5px;
}
p.breadNoLine {
	font-size: 11px;
	line-height: 14px;
	margin: 5px 0 8px 0;
	padding-bottom: 5px;
}
span.breadArrow {
	margin: 0 6px;
	background:url("../img/icons/breadArrow.gif") no-repeat left top;
}
span.breadArrowBack {
	margin: 0 6px;
	background:url("../img/icons/breadArrowBack.gif") no-repeat left top;
}
#campaignProgress {
	float: right;
}
#manuallyAdd {
	float: left;
	width: 60%;
}
#addRules {
	margin: 0 0 0 60%;	
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}
.leftContentCol {
	float: left;
	width: 48%;
}
.rightContentCol {
	margin: 0 0 0 50%;
	padding-left: 25px;
}

/* ----- GENERAL TEXT TREATMENT ----- */

p {
	font-size: 12px;
	line-height: 16px;
	padding-bottom: 8px;
}
p.titleSummary {
	margin-top: -10px;
	color: #7f7f7f;
	padding-bottom: 15px;
}
p.titleSummary span {
	font-size: 11px;
	color: #b1b1b1;
}
p.titleSummary span.right {
	float: right;
	text-align: right;
	width: 180px;
	color: #7f7f7f;
}
.topPad {
	padding-top: 8px;
}

.middleTopPad {
	padding-top: 15px;
}

.extraTopPad {
	padding-top: 25px;
}
.topPadMid {
	padding-top: 4px;
}
.bottomPad {
	padding-bottom: 16px;
}
.extraBottomPad {
	padding-bottom: 25px;
}
.smallPad {
	padding: 0 0 2px 0;
}
.bulletPad {
	padding: 5px 0 0 100px;
	color: #666;
	margin-bottom: 2px;
}
.mid {
	font-size: 11px;
}
.normal {
	font-size: 12px;
}
.red {
	color: #bb3e22;
}
.green {
	color: #42a808;
}
h1 {
	padding: 10px 0 12px 0;
	border-bottom: 0;
	margin: 0;
	color: #333333;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
}
h1 span {
	font-weight: normal;
	font-size: 14px;
	color:#666666;
}
h1 span span {
	font-weight:bold;
}	
h1 span span.green {
	color:#278a00;
}

h1.help {
	font-size: 20px;
}
#content h1 {
	margin: 0 0 0 0;
}
h2 {
	margin: 20px 0 5px 0px;
	color: #333;
	font-size: 16px;
	padding: 0;
}
h2.grey {
	background: url('../img/bg/grey-heading-right.gif') no-repeat top right;
	padding: 0;
	margin: 0;
}
h2.grey span {
	background: url('../img/bg/grey-heading-left.gif') no-repeat top left;
	padding: 11px 6px 10px 10px;
	font-size: 12px;
	color: #626262;
	display: block;
}
h3 {
	font: bold 14px arial, verdana, helvetica, sans-serif;
	line-height: 18px;
	margin: 8px 0 10px 0;
}
h3.afterList {
	margin: 15px 0 8px 0;
}
h3.snapshot {
	margin: 25px 0 10px 0;
}
.formBGCSS h3.ok {
	color: #42a808;
	margin-bottom: 15px;
}
.formBGCSS h3.notok {
	color: #bb3e22;
	margin-bottom: 15px;
}
h4 {
	font-size: 12px;
	font-weight: bold;
}
h5 {
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 5px;
}
code {
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	font-size: 12px;
	line-height: 16px;
}
body.help pre {
	background: #ededed;
	padding: 5px;
	margin: 10px 0 15px 0;
	color: #c61010;
}
body.help pre span {
	color: #000;
}
.codeSample {
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	font-size: 11px;
	line-height: 16px;
}
code span {
	color: #888;
}
.code {	
	background: #e4e4e4;
	padding: 5px;
	margin-bottom: 20px;
}
.light {
	color: #666;
}
.lighter {
	color: #999;
}
div.verified {
	padding-left: 30px;
	background:url("../img/icons/bigTick.gif") no-repeat left top;
	color: #777;
	margin: 15px 0 10px 0;
}
div.verified h3 {
	color: #000;
	margin-bottom: 5px;	
}
h2.verified {
	color: #17a421;
	margin-top: 30px;
}
div.pending {
	padding-left: 30px;
	background:url("../img/icons/orangeLoader.gif") no-repeat left top;
	color: #777;
	margin: 15px 0 10px 0;
}
h2.pending {
	color: #ff9308;
	margin-top: 30px;
}
div.pending h3 {
	color: #000;
	margin-bottom: 5px;	
}

/* ----- LINKS ----- */

a {
	text-decoration: none;
	padding: 1px;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: 0;
}
a.replace {
	text-decoration: none;
	padding: 1px;
}
a.replace:hover {
	text-decoration: underline;
}
a.subFolderNotEmpty {
	text-decoration: none;
	padding: 1px;
	color:#606060 !important;
	font-size:11px;
	font-weight:bold;	
}
a.subFolderNotEmpty:hover {
	text-decoration: underline;
}
a.subFolder {
	text-decoration: none;
	padding: 1px;
	color:#999999 !important;
	font-size:11px;
	font-weight:bold;	
}
a.subFolder:hover {
	text-decoration: underline;
	color:#606060 !important;
}

.formContainer a.red, a.red {
	color: #bb3e22;
}
/*#rightcol a {
	padding: 0;
}*/
a.manage {
	color: #797979;
	font-size: 11px;
}

/* ----- IMAGES ----- */

.icon {
	vertical-align: middle;
	padding-right: 4px;
	float: left;
}
.bullet {
	vertical-align: middle;
	padding: 2px 3px 0 0;
	float: left;
}
.supporting {
	vertical-align: middle;
}
.promoIcon {
	float: left;
	padding: 0 10px 6px 0;
}


/* ----- LISTS ----- */

ol {
	margin: 5px 0 5px 14px;
	list-style:none;
	list-style-type:none;
}
ol li {
	padding: 3px 0;
	font-size: 12px;
	clear:both;
}
ul.tick, ul.cross {
	margin-bottom: 15px;
}
ul.tick li {
	margin-left: 0;
	padding: 2px 0px 2px 22px;
	display: block;
	list-style-type: none;
	background:url("../img/icons/smallTick.png") no-repeat 0 4px;
}
ul.cross li {
	margin-left: 0;
	padding: 2px 0px 2px 22px;
	display: block;
	list-style-type: none;
	background:url("../img/icons/smallOff.png") no-repeat 0 4px;
}
ul.tick li.p {
	margin-left: 0;
	padding: 2px 0px 2px 24px;
	display: block;
	list-style-type: none;
}
ol#optionList {
	margin: 0 0 0 20px;
}
ol#optionList li {
	font-size: 11px;
	padding: 0 0 2px 0;
}
#options ul li {
	font-size: 11px;
	color: #666;
	line-height: 15px;
	font-weight: bold;
}
#options ul {
	margin: 5px 0 12px 5px;
}

/* ----- FORMS ----- */

input[type="text"], textarea { 
	padding: 5px 4px;
	font: normal 12px arial, helvetica, sans-serif;
	border: 1px solid #ccc;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	_border: 1px solid #ccc !important;
	_padding: none;
}

input[type="file"], input_file { 
	padding: 5px 4px;
	font: normal 12px arial, helvetica, sans-serif;
	border: 1px solid #ccc;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	_border: 1px solid #ccc !important;
	_padding: none;
}

input.input_text {
	padding: 5px 4px;
	font: normal 12px arial, helvetica, sans-serif;
	border: 1px solid #ccc;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	_border: 1px solid #ccc !important;
	_padding: none;
}

input:focus, textarea:focus {
	border: 1px solid #ababab;
	outline: none;
}
input[type="radio"], input[type="checkbox"] {
	background:transparent !important;
	border:0 !important;
	width:16px !important;
}
input[type="image"] {
	border: 0;
	padding: 0;
}
body:last-child:not(:root:root) input[type="file"] {
	border: none;
}
input.searchField {
	font-size: 11px;
	color: #333;
	width: 110px;
}
input.searchFieldOn {
	color: #5f5f5f;
}
select { 
	font: normal 12px arial, helvetica, sans-serif;
	padding:2px 2px;
	margin-top:2px;
}

body:last-child:not(:root:root) select {
	margin: 2px 0;
}
select option {
	padding-right: 4px;
}
.formBG {
	/*background: #f4f4f4;*/
	padding-top: 0;
	margin-top: 13px
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}
.formBGCSS {
	background: #f4f4f4;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	padding: 18px 0 5px 0;
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}
.formWrapper {
	padding: 2px 15px;
}
.formWrapperRadios {
	padding: 2px 15px 15px 15px;
}
.formWrapperExtraPad {
	padding: 15px;
}
.formDescription {
	background: #e4e4e4;
	padding: 10px 8px;
	font-size: 11px;
	line-height: 15px;
	margin-bottom: 15px;
}
.formContainer {
	margin: 5px 0 15px 0;
	/*background: #e4e4e4;*/
	padding: 3px;
	line-height: 1.2;
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}
.formContainer div.clearfix {
	padding: 4px;
}
.formContainer div.clearfix span.left { /* saját Mód */
	/*float: left;*/
	font-size: 11px;
	padding: 0 0 0 5px;
	color: #666;
}
.formContainer div.clearfixError {
	padding: 4px;
}
.formContainerDark {
	background: #d3d3d3;
}
input[type="text"].clearfixError, textarea.clearfixError, input[type="password"].clearfixError {
	padding: 5px 4px;
	border: 1px solid #f77171;
	margin: 0;
}
.clearfixError textarea.full {
	width: 90%;
}
.clearfixError img {
	border: none;
}
.clearfixError label {
	color: #c00;
	padding: 4px 0 0 2px;
}
select.errorSelect {
	background: #f7bbbb;
}	
.formContainer label {
	width: 100px;
	float: left;
	font-size: 11px;
	padding: 7px 0 0 0;
}
.formContainer label.file {
	width: 100px;
	float: left;
	font-size: 11px;
	padding: 3px 0 0 0;
}
.formContainer label.top
	float: none;
	font-size: 11px;
	padding: 4px 0 0 5px;
}
.formContainer label.wide, .lastFormContainer label.wide {
	width: 150px;
}
.formContainer label.thin, .lastFormContainer label.thin {
	width: 50px;
}
.formContainer label.micro, .lastFormContainer label.micro {
	width: 30px;
}
.formContainer label.middle, .lastFormContainer label.middle {
	width: 75px;
}
span.formcancel {
	display: block;
	width: 200px;
	padding-top: 8px;
	float: left;
	color: #999;
}
span.buttonOr {
	display: block;
	width: 21px;
	padding-top: 8px;
	float: left;
	color: #999;
}
div.radioInset {
	padding: 5px 0 0 100px;
}
.formContainer div.radioInset label {
	float: none;
}
.formContainer td.last, .formContainer th.last, .formContainer th#last1, .formContainer td#last2 {
	border: none;
}
th#last1, td#last2 {
	background:#fff5ca;
	color: #646259;
	padding: 8px 0;
}
span.fieldTip {
	font-size: 11px;
	color: #999;
	padding-left: 5px;
}
.radioContainer {
	margin: 5px 0 10px 0;
	padding: 5px;
	background: #e4e4e4;
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}
.radioContainerPad {
	padding: 5px;
}
.radioContainer input.top {
	margin: 12px 5px 5px 8px;
}
input.notNested {
	margin-left: 5px;
}
.radioContainer label {
	font-size: 11px;
	padding-left: 2px;
}
.radioContainer label.big {
	font-size: 12px;
	font-weight: bold;
}
#gaSwitch, #clientAccessSwitch, #checkboxSwitch {
	padding: 10px;
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}
label.bigPad {
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 0 10px;
	*padding: 0 0 0 4px;
}
.radioContainer img {
	margin-top: -2px;
}
.radioSelected {
	background: #999;
	color: #fff;
	margin-bottom: 0;
}
.confirmCase {
	margin: 5px 0 10px 0;
	background: #e4e4e4;
	padding: 15px 15px 10px 15px;
	line-height: 1.2;
}
.confirmCase p {
	font-size: 12px;
	padding: 4px 0 5px 20px;
}
.accessSettings, .nestedFormCase {
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}
.accessFeature {
	margin-bottom: 5px;
	padding: 8px 5px 0 8px;
}
.accessFeature label {
	font-weight: bold;
	padding-left: 5px;
}
.accessFeature p {
	padding-top: 4px;
	font-size: 11px;
	line-height: 14px;
}
.nestedForm {
	background: #ccc;
}
.nestedFormCase {
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}
.nestedFormCase label {
	font-weight: bold;
	padding-left: 4px;
	font-size: 12px;
}
.nestedFormCase label.small {
	font-weight: normal;
	padding-left: 0;
	font-size: 11px;
}
.nestedFormCase p {
	padding-bottom: 10px;
	font-size: 11px;
	line-height: 14px;
}
.subscribersFeature {
	background: #e1e0e0;
}
.nestedFooter {
	background: url("../img/bg/nested-form-footer.gif") repeat-x;
	height: 17px;
	margin-bottom: 10px;
}
.formContainer .inlineFormExp {
	font-size: 11px;
	padding: 5px;
	color: #666;
}
.formContainer .inlineFormExp span {
	color: #363636;
}
.formContainer .inlineFormRadio {
	padding: 2px 0 0 10px;
}
.formContainer .inlineFormRadio label {
	float: none;
	font-size: 12px;
	padding-left: 2px;
}
#markupExample {
	margin: -15px 0 15px 0;
	border-top: 1px solid #9ce1ae;
	border-bottom: 1px solid #bcedc8;
	padding: 14px 5px 0 5px;
	background: #e9ffef;
}
#markupExample .exampleExplanation {
	font-size: 12px;
	padding: 0 0 12px 8px;
	color: #434f46;
}
#markupExample .exampleExplanation span.description {
	font-size: 11px;
	display: block;
	padding: 3px 0;
}
.radioDescription {
	padding: 0 0 0 32px;
}
.bigRadioDescription {
	padding: 0 0 0 24px;
	margin-top: 10px;
}
.nestedFormCase .radioDescription {
	padding: 0 0 0 20px;
}
.radioDescription p {
	font-size: 12px;
}
.radioDescription p.big {
	font-size: 12px;
	padding-bottom: 8px;
}
.radioDescription p.mid {
	font-size: 11px;
	line-height: 14px;
}
.radioDescription p.bigNoPad {
	font-size: 12px;
	padding-bottom: 0;
}
.textareaNote {
	font-size: 11px;
	color: #666;
	padding: 5px 0 0 100px;
	line-height: 14px;
}
.pending a.formtease, .verified a.formtease {
	border: 1px solid #fff;
	background: #fff;
	display: block;
	color: #737373;
	text-decoration: none;
	margin-top : 0px;
	margin-bottom : 12px;
	line-height:1.3;
	padding: 1px;
}
.pending a.formtease:hover, .verified a.formtease:hover { 
	border-top: 1px solid #999;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #999;
	background: #ffd;
	cursor: text;
}
.pending a.inputtease {
	border: 1px solid #fff;
	background: #fff;
	display: block;
	color: #737373;
	text-decoration: none;
	margin-top : 0px;
	margin-bottom : 2px;
	line-height:1.3;
	padding: 3px 1px;
}
.pending a.inputtease:hover { 
	border-top: 1px solid #999;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #999;
	background: #ffd;
	cursor: text;
}
.verified h3 span {
	font-size: 11px;
	font-weight: normal;
	color: #999;
}
.pending span {
	padding-left: 15px;
	color: #888;
	font-style: italic;
	font-size: 12px;
}
.formHeader {
	background: #d3d3d3;
	font-weight: bold;
	font-size: 11px;
	padding: 8px;
	margin: 5px 0 -5px 0;
}
.formHeaderSecondary {
	background: #d3d3d3;
	font-weight: bold;
	font-size: 11px;
	padding: 8px;
	margin: -15px 0 -5px 0;
}
.formSecure {
	color: #5f5f37;
	font-size: 11px;
	padding: 8px 8px 8px 21px;
	margin: -15px 0 5px 0;	
    background: #fbfbb7 url('../img/icons/secure-form.gif') no-repeat 6px 9px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #ecec8b;
}
p.midPadLine {
	padding: 5px 0 15px 0;
	border-bottom: 1px solid #e0e0e0;
	margin: 15px 0 10px 0;
}
.customFieldsPromo {
	font-size: 11px;
	padding: 4px 0 5px 24px;
}
.radioSelectedForm {
	padding-left: 22px;
}
.explanationRow {
	padding: 5px 0;
	font-size: 11px;
	margin: 0 0 5px 100px;
}
.padLikeInput {
	padding: 5px 4px;
}
.personalize {
	float: right;
	font-size: 11px;
	padding: 0 5px 0 0;
	color: #666;
}
#personalizeOff {
	padding-top: 6px;
}
#personalizeOn {
	padding-top: 2px;
}
#authenticationAdvice {
	float: right;
	padding: 6px 5px 0 0;
	font-size: 11px;
}
.bigRadio {
	padding: 15px 0 3px 0;
}
.bigRadio p {
	padding: 5px 0 0 23px;
}
.bigRadio div.recipientLists {
	padding: 5px 0 0 23px;
}
div.recipientLists {
	margin-top: 8px;
	color: #000;
}
div.recipientLists label {
	font-size: 14px;
}
div.individualList {
	margin: 0 0 8px 0;
}
div.segmentWrap {
	background: #e4e4e4;
	padding: 5px 0;
}
div.segmentList {
	padding: 3px 0 3px 20px;
}
div.segmentListStart {
	padding: 3px 0 8px 5px;
}
div.bigRadio label.segment {
	color: #333;
	font-size: 12px;
}
div.segmentList span {
	font-size: 12px;
	color: #666;
	padding-left: 5px;
}
div.segmentTitle {
	margin-top: 5px;
	padding: 2px 0 7px 0;
	font-size: 14px;
}
div.segmentTitle span.segmentCount {
	float: right;
	font-size: 11px;
	padding-top: 2px;
	font-weight: normal;
	color: #666;
}
.h3checkboxOff {
	color: #999;
	font-size: 14px;
	font-weight: bold;
}
.textOnlyOutline {
	background: url(../img/bg/textEntryGuide.gif) repeat-y;
	border: 1px solid #7F9DB9;
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	font-weight: normal;
	color: #000;
	font-size: 12px;
}
.radioContainerSmall {
	margin: 5px 0 10px 0;
	padding: 5px;
	background: #e4e4e4;
}
.radioContainerSmall input {
	margin: 5px 5px 0 5px;
}
.radioContainerSmall label {
	font-size: 11px;
}
.radioContainerSmall label.big {
	font-size: 12px;
	font-weight: bold;
}
.radioContainerSmall img {
	vertical-align: middle;
	margin-top: -2px;
}

/*buttondisable*/


a.greybutton, button.greybutton {
    background: transparent url('../img/buttons/grey-right.png') no-repeat scroll top right;
	_background: transparent url('../img/buttons/grey-greybg-right.gif') no-repeat scroll top right;
    color: #545454;
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
    height: 33px;
    margin-right: 6px;
    padding-right: 12px; /* sliding doors padding */
    text-decoration: none;
	border: 0;
	cursor:pointer;
}
a.greybutton span, button.greybutton span {
    background: transparent url('../img/buttons/grey-left.png') no-repeat;
	_background: transparent url('../img/buttons/grey-greybg-left.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 6px 4px 10px 10px;
	color: #545454;
}
a.greybutton img, button.greybutton img {
    margin:0 6px -3px 0 !important;
    padding:0;
    border:none;
}
button.greybutton {
    width:auto;
    overflow:visible;
    padding:1px 10px 3px 0; /* IE6 */
}
button.greybutton[type]{
    padding:1px 12px 5px 0;
    line-height:17px; /* Safari */
}
html:not([lang*=""]):not(:only-child) button.greybutton[type]{
	padding:0 9px 5px 0;  /* Firefox */
	margin-left: -3px !important;
}
a.bigbutton, button.bigbutton {
    background: transparent url('../img/buttons/big-right.png') no-repeat scroll top right;
    color: #545454;
    display: block;
    float: left;
    font: bold 14px arial, sans-serif;
    height: 39px;
    margin-right: 9px;
    padding-right: 9px; /* sliding doors padding */
    text-decoration: none;
	border: 0;
	cursor:pointer;
}
a.bigbutton span, button.bigbutton span {
    background: transparent url('../img/buttons/big-left.png') no-repeat;
    display: block;
    line-height: 16px;
    padding: 10px 5px 12px 12px;
	color: #545454;
}
a.bigbutton span {
	margin-right: 9px;
}
a.bigbutton img, button.bigbutton img {
    margin:0 7px -3px 0 !important;
    padding:0;
    border:none;
}
button.bigbutton {
    width:auto;
    overflow:visible;
    padding:1px 9px 3px 0; /* IE6 */
}
button.bigbutton[type]{
    padding: 0 9px 5px 0;
    line-height:17px; /* Safari */
}
html:not([lang*=""]):not(:only-child) button.bigbutton[type]{
	padding: 0 6px 5px 0;  /* Firefox */
	background-position: right 1px;
}
body:last-child:not(:root:root) button.bigbutton[type] {
	padding: 0 9px 5px 0;  /* Safari */
	background-position: right top;
}
.rightButton {
	float: right;
	width: 230px;
}
#addClientButton {
	float: right;
	margin-top: -6px;
}
.manualAddWrap {
	margin: 5px 0 5px 0;
	background: #e4e4e4;
	padding: 10px;
	/* Give content layout to fix IE7 bug with 100% width tables  */
	zoom: 1.0;
}


/* ----- ALERTS ----- */

#success {
	background: #e1ffd1 url("../img/icons/alert-success.gif") no-repeat 11px 12px;
	border-top: 1px solid #c5f8ac;
	border-bottom: 1px solid #c5f8ac;
	margin: 0 0 20px 0;
	padding: 10px 10px 10px 35px;
}
#success h3 {
	color: #468d3f;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
#successBig {
	background: #e1ffd1 url("../img/icons/massiveTick.gif") no-repeat 18px 22px;
	border-top: 1px solid #c5f8ac;
	border-bottom: 1px solid #c5f8ac;
	margin: 0 0 20px 0;
	padding: 5px 10px 10px 65px;
}
#existingSettings #successBig {
	margin-top: 10px;
}
#successBig h1, #bigEarning h1 {
	padding-bottom: 3px;
}
#successBig h2, #bigEarning h2 {
	font-size: 16px;
	padding: 15px 0 3px 0;
	margin: 0;
}
#successBig p, #bigEarning p {
	color: #468d3f;
	margin-bottom: 5px;
}
#bigEarning {
	background: #e1ffd1 url("../img/icons/massiveCash.gif") no-repeat 21px 16px;
	border-top: 1px solid #c5f8ac;
	border-bottom: 1px solid #c5f8ac;
	margin: 0 0 20px 0;
	padding: 8px 10px 10px 65px;
}
.removeDomain {
	float: right;
	width: 280px;
	text-align: left;
	padding: 8px 5px 0 0;
	font-size: 11px;
	color: #82a581;
}
.showPreview {
	float: right;
	width: 190px;
	text-align: left;
	padding: 19px 5px 0 0;
	font-size: 11px;
	color: #82a581;
}
.showTextPreview {
	float: right;
	width: 205px;
	text-align: left;
	padding: 19px 5px 0 0;
	font-size: 11px;
	color: #82a581;
}
#failure {
	background: #ffd1d1 url("../img/icons/alert-failure.gif") no-repeat 13px 11px;
	border-top: 1px solid #f8acac;
	border-bottom: 1px solid #f8acac;
	margin: 0;
	padding: 10px 10px 10px 35px;
}
#failure h3 {
	color: #8d3f3f;	
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.failureMessage {
	background: #fff1f1;
	border-bottom: 1px solid #fddcdc;
	padding: 10px 20px;
	color: #664b4b;
	margin-bottom: 30px;
}
#sidebarfailure {
	background: #ffd1d1 url("../img/icons/alert-failure.gif") no-repeat 10px 7px;
	border-top: 1px solid #f8acac;
	border-bottom: 1px solid #f8acac;
	margin: 0;
	padding: 5px 5px 5px 32px;
}
#sidebarfailure h3 {
	color: #8d3f3f;	
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.sidebarfailureMessage {
	background: #fff1f1;
	border-bottom: 1px solid #fddcdc;
	padding: 5px 18px;
	color: #664b4b;
	margin-bottom: 10px;
}
.sidebarfailureMessage ol li {
	font-size: 11px;
}

#bigReportAlert {
	background: #fff5ca url("../img/icons/reportsAlert.gif") no-repeat 16px 18px;
	border-top: 1px solid #f1df95;
	border-bottom: 1px solid #f1df95;
	margin: 0 0 20px 0;
	padding: 14px 10px 10px 65px;
}
#bigCustomizeAlert {
	background: #fff5ca url("../img/icons/customize-alert.png") no-repeat 16px 18px;
	border-top: 1px solid #f1df95;
	border-bottom: 1px solid #f1df95;
	margin: 0 0 20px 0;
	padding: 14px 10px 10px 60px;
}

#bigSucces {
	background: #c3fba6 url("../img/icons/accept-icon.png") no-repeat 15px 15px;
	border-top: 1px solid #559d24;
	border-bottom: 1px solid #559d24;
	margin: 15px 0 20px 0;
	padding: 14px 10px 10px 65px;
}

#bigSucces h1 {
	font-size: 16px;
	color: #454131;
	margin: 0;
	padding: 0 0 2px 0;
}

#bigAlert {
	background: #fff5ca url("../img/icons/info-icon.png") no-repeat 15px 15px;
	border-top: 1px solid #f1df95;
	border-bottom: 1px solid #f1df95;
	margin: 15px 0 20px 0;
	padding: 14px 10px 10px 65px;
}

#bigAlert h1 {
	font-size: 16px;
	color: #454131;
	margin: 0;
	padding: 0 0 2px 0;
}

#bigError {
	background: #de412a url("../img/icons/error-icon.png") no-repeat 15px 15px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	margin: 15px 0 20px 0;
	padding: 14px 10px 10px 65px;
	color: #ffffff;
}

#bigError h1 {
	font-size: 16px;
	color: #ffffff;
	margin: 0;
	padding: 0 0 2px 0;
}

#bigReportAlert h1, #bigCustomizeAlert h1 {
	font-size: 14px;
	color: #454131;
	margin: 0;
	padding: 0 0 2px 0;
}
#bigAlert p, #bigReportAlert p, #bigCustomizeAlert p {
	color: #83827c;
}
#alert {
	background: #fff5ca;
	border-top: 1px solid #f1df95;
	border-bottom: 1px solid #f1df95;
	padding: 14px 15px 8px 15px;
	margin: 10px 0 15px 0;
}
#alert h1 {
	font-size: 16px;
	color: #454131;
	margin: 0;
	padding: 0 0 2px 0;
}
#alert p {
	color: #83827c;
}
#loading {
	text-align: center;
	height: 100px;
	color: #666;
}

/* ----- TABLES ----- */

th {
	font-size: 11px;
	line-height: 15px;
	font-weight: bold;
	padding: 5px 0;
	padding-left: 3px;
	text-align: left;
}
td {
	font-size: 11px;
	line-height: 15px;
	padding: 4px;
}
size12 {
	font-size: 12px;
}
tr.clickRow:hover, tr.highlightRow:hover {
	background-color: #fdfde3;
}
table.border {
	margin-bottom: 25px;
}
table.border th {
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	padding: 9px 0 7px 9px;
	text-align: left;
	color: #fff;
	border-bottom: 1px solid #727272;
	background: #a8a8a8 url('../img/bg/table-head.gif') repeat-x;
	text-shadow: #757575 1px 1px 1px;
}
table.border th img {
	vertical-align: middle;
	padding-right: 5px;
}
table.border td {
	font-size: 11px;
	line-height: 15px;
	padding: 4px;
	padding: 5px 0 5px 10px;
	border-bottom: 1px solid #e5e5e5;
}
table.border td span {
	color: #888;
}
table.border td.tableFooter {
	padding: 9px 0 8px 9px;
	background: #e8e8e8 url('../img/bg/table-footer.gif') repeat-x;
}
table.border td.tableFooter span {
	font-weight: bold;
	font-size: 12px;
	color: #303030;
}
table.grid th, table.grid td {
	/*border-bottom: 1px solid #d9d9d9;*/	
}
table.grid th.sum, table.grid td.sum {
	border-top: 1px solid #c4c2c2;	
}
table.grid td.last, table.grid th.last {
	border: none;
}
table.grid td span {
	color: #666;
}
table.grid td span.normal {
	color: #333;
	font-size: 11px;
}
table.gridLight th, table.gridLight td {
	border-bottom: 1px solid #ececec;	
}
table.gridLight td.last, table.gridLight th.last {
	border: none;
}
table.gridLight td span {
	color: #666;
}
table.sidebar {
	margin-bottom: 15px;
}
table.sidebar td {
	border-bottom: 1px solid #d9d9d9;	
}
table.sidebar td.last, table.sidebar th.last {
	border: none;
}
table.sidebar th {
	background: #cfcfcf;
}
div.failureMessage table.sidebar {
	margin-bottom: 0;
}
div.failureMessage table.sidebar td, div.failureMessage table.sidebar th {
	color: #111;
}
div.failureMessage table.sidebar td {
	background: #fff;
}
th.inForm {
	background: #d3d3d3;
	padding: 6px 4px;
}
td.inForm {
	background: #e4e4e4;
	padding: 6px 4px;
}
table.inForm {
	margin-bottom: 15px;
}
table.tableTabs td, table.tableTabsHeader td {
	margin: 0;
	padding: 0;
}
table.tableTabs caption {
font-size:14px;
font-weight:bold;
padding:12px 0px;
text-align:left;
}
table.tableTabs td a.tabNumber {
	color: #c0c0c1;
	text-decoration: none;
}
table.tableTabs td.tabOnLeft {
	padding: 15px 7px 10px 16px;
	font-size: 29px;
	font-weight: bold;
	color: #fff;
	/*background: url('../img/bg/table-tab-left.gif') no-repeat top left;*/
	background-color: #0e3257;
}
table.tableTabs td.tabOnLeft span {
	font-size: 11px;
	font-weight: bold;
	/*color: #252525;*/
	display: block;
	padding-bottom: 6px;
}
table.tableTabs td.tabOnRight {
	/*background: url('../img/bg/table-tab-right.gif') no-repeat top right;*/
	width: 9px;
	background-color: #0e3257;
}
table.tableTabs td.tabOffFarLeft {
	padding: 18px 15px 10px 13px;
	font-size: 20px;
	font-weight: bold;
	color: #c0c0c1;
	background: url('../img/bg/table-tab-off-left.gif') no-repeat bottom left;
}
table.tableTabs td.tabOffLeftOfOn {
	padding: 18px 15px 10px 13px;
	font-size: 20px;
	font-weight: bold;
	color: #c0c0c1;
	background: url('../img/bg/table-tab-off-left-of-on.gif') no-repeat bottom left;
}
table.tableTabs td.tabOffMiddle {
	padding: 18px 15px 10px 13px;
	font-size: 20px;
	font-weight: bold;
	color: #c0c0c1;
	background: url('../img/bg/table-tab-off.gif') no-repeat bottom right;
}
table.tableTabs td.tabOffMiddle span, table.tableTabs td.tabOffFarRight span, table.tableTabs td.tabOffFarLeft span, table.tableTabs td.tabOffLeftOfOn span {
	font-size: 11px;
	font-weight: normal;
	display: block;
	padding-bottom: 5px;
}
table.tableTabs td.tabOffFarRight {
	padding: 18px 15px 10px 13px;
	font-size: 20px;
	font-weight: bold;
	color: #c0c0c1;
	background: url('../img/bg/table-tab-off-right.gif') no-repeat bottom right;
}
table.tableTabs td.tabOffFarRightNoneSelected {
	font-size: 20px;
	font-weight: bold;
	color: #c0c0c1;
	background: url('../img/bg/table-tab-off-right.gif') no-repeat bottom right;
}
table.tableTabs td.tabOffFarRightNoneSelected span {
	font-size: 11px;
	font-weight: normal;
	display: block;
	padding-bottom: 5px;
}
table.tableTabs td.tabOffFarRightNoneSelected div {
	padding: 18px 15px 10px 13px;
	background: url('../img/bg/table-tab-right-none.gif') no-repeat bottom left;
}
table.tableTabs td.tableHeaderCap {
	background: url('../img/bg/table-tab-header-cap.gif') no-repeat bottom right;
}

table.tableTabsHeader th {
	/*background: url('../img/bg/table-tab-header.gif') repeat-x top left;*/
	padding: 8px 6px 10px 6px;
	font-size: 12px;
	color: #fff;
	background-color: #0e3257;
}
table.tableTabsHeader th.tableTabsHeader {
	/*background: url('../img/bg/table-tab-header-left.gif') no-repeat top left;*/
	padding-left: 16px;
}
table.tableHeader th.sectionTitle {
	font-size: 14px;
	font-weight: normal;
	padding-top: 9px;
}
table.tableHeader th.sectionTitle span {
	font-size: 11px;
	font-weight: normal;
	color: #8d8f96;
	text-shadow: none;
	padding-left: 3px;
}
table.tableTabsHeader th.tabHeaderRight {
	/*background: url('../img/bg/table-tab-header-right.gif') no-repeat top right;*/
}
table.tableTabsHeader th.tabHeaderLeft {
	/*background: url('../img/bg/table-tab-header-left.gif') no-repeat top left;*/
	padding-left: 15px;
}
table.tableTabsHeader th a {
	color: #fff;
	text-decoration: none;
}
table.tableTabsHeader td {
	border-bottom: 1px solid #e9e9e9;
}
table.tableTabsHeader tr:last-child td {
	border-bottom: none;
}
img.sortIcon {
	vertical-align: middle;
	padding-left: 6px;
}
table.tableTabsHeader tr:hover {
	/*background: #fdfde3;*/
}
table.tableTabsHeader tr.noHighlight:hover {
	background: none;
}
table.tableTabsHeader tr.noHighlight td, table.tableHeader tr.noHighlight td {
	border: none;
}
table.tableTabsHeader tr.tabRowSelected {
	background: #fffbd4;
}
table.tableTabsHeader td {
	padding: 4px 6px;
	color: #4c4c4c;
}
table.tableTabsHeader td span {
	color: #8d9095;
}
table.tableTabsHeader td span.lightRed, table.tableHeader td span.lightRed {
	color: #d66262;
}
table.tableTabsHeader td.tabRowLeft {
	padding-left: 16px;
}
table.tableTabsHeader td.tabRowRight {
	padding-right: 16px;
}
table.tableFooter {
	margin: 5px 0 10px 0;
}
table.tableFooterPad {
	margin: 25px 0 10px 0;
}
table.tableFooter td {
	padding: 6px 6px;
	color: #8d9095;
}
table.tableFooter td.simple, table.tableHeader td.simple {
	padding: 7px 6px 9px 6px;
	color: #8d9095;
}
table.tableFooter td span {
	color: #d3d5d7;
}
table.tableFooter td.footerLeft, table.tableHeader td.footerLeft {
	/*background: url('../img/bg/table-footer-left.gif') no-repeat top left;*/
	padding-left: 10px;
	background-color:#d2d2d2; 
}
table.tableFooter td.footerRight, table.tableHeader td.footerRight {
	/*background: url('../img/bg/table-footer-right.gif') no-repeat top right;*/
	padding: 0 10px 6px 0;
	background-color:#d2d2d2;
}
table.tableFooter td.footerRight div#noneSelected, div#exportnote {
	padding: 8px 0;
}
table.tableFooter td.footerRight div#subscribersSelected, div#exportform {
	padding: 4px 0;
}
div#exportform {
	padding: 3px 0 4px 0;
}
div#emptyFooter {
	padding: 7px 0;
}
table.tableFooter td.footerLeft {
	padding-bottom: 10px;
}
table.tableHeader td.footerMiddle {
	/*background: url('../img/bg/table-footer-middle.gif') repeat-x top left;*/
	background-color:#d2d2d2;
}
table.tableFooter td select {
	padding: 0;
}
table.moveTable td {
	margin: 0;
	padding: 0;
}
table.tableHeader {
	margin-bottom: 10px;
}
table.noPad {
	margin-bottom: 8px;
}
table.tableHeader th {
	background: url('../img/bg/dark-table-head.gif') repeat-x top left;
	padding: 11px 6px 10px 6px;
	font-size: 12px;
	color: #42424c;
	/*text-shadow:1px 1px 0 #fff;*/
}
table.tableHeader th.Red {
	background: url('../img/bg/red-table-head.gif') repeat-x top left;
}

table.tableHeader th.headerLeft {
	
	/*background: url('../img/bg/dark-table-head-left.gif') no-repeat top left;*/
	padding-left: 11px;
}
table.tableHeader th.headerLeftRed {
	background: url('../img/bg/red-table-head-left.gif') no-repeat top left;
	padding-left: 11px;
}
table.tableHeader th.headerLeftWithDropDown {
	background: url('../img/bg/dark-table-head-left.gif') no-repeat top left;
	padding: 6px 6px 10px 11px;
}
table.tableHeader th.headerRight {
	/*background: url('../img/bg/dark-table-head-right.gif') no-repeat top right;*/
	padding-right: 11px;
}
table.tableHeader th.headerRightRed {
	background: url('../img/bg/red-table-head-right.gif') no-repeat top right;
	padding-right: 11px;
}
table.tableHeader th.headerGrey {
	background: url('../img/bg/light-table-head.gif') repeat-x top left;
	padding: 9px 6px 10px 6px;
	font-size: 12px;
	color: #636b75;
}
table.tableHeader th.headerGreyRight {
	background: url('../img/bg/light-table-head-right.gif') no-repeat top right;
	padding-right: 11px;
	color: #636b75;
}

table.tableHeader th.headerGreyLeft {
	background: url('../img/bg/light-table-head-left.gif') repeat-x top left;
	padding: 11px 6px 10px 10px;
	font-size: 11px;
	color: #000000;
}

th.headerDarkGrey {
	background: url('../img/bg/dark-grey-table-head.gif') repeat-x top left;
	padding: 9px 6px 10px 6px;
	font-size: 12px;
	color: #fff;
}
table.tableHeader th.headerDarkGreyLeft {
	background: url('../img/bg/dark-grey-table-head-left.gif') repeat-x top left;
	padding: 11px 6px 10px 10px;
	font-size: 11px;
	color: #fff;
}
th.headerDarkGreyLeft {
	background: url('../img/bg/dark-grey-table-head-left.gif') repeat-x top left;
	padding: 11px 6px 10px 10px;
	font-size: 11px;
	color: #fff;
	text-shadow:1px 1px 0 #666;
}
th.headerDarkGreyCenter {
	background: url('../img/bg/dark-grey-table-head-center.gif') repeat-x top right;
	padding-right: 11px;
	color: #fff;
	text-align: right;
}
th.headerDarkGreyRight {
	background: url('../img/bg/dark-grey-table-head-right.gif') no-repeat top right;
	padding-right: 11px;
	color: #fff;
	text-align: right;
}
th.headerDarkGreyRight span a {
	font-size: 11px;
	font-weight: normal;
	color: #d8d8d8;
	text-decoration: underline;
}
table.tableHeader th.headerDarkGreyRight span a:hover {
	text-decoration: none;
}
table.tableHeader th a {
	color: #636b75;
	text-decoration: none;
}
table.tableHeader tr:last-child td {
	border-bottom: none;
}
table.tableHeader tr.last td {
	border-bottom: none;
}
table.tableHeader tr.lastRow td {
	border-bottom: 5px solid #fff;
}
table.tableHeader tr:hover, table.subscriberStats tr:hover {
	/*background: #fdfde3;*/
}
table.tableHeader tr.noHighlight:hover {
	background: none;
}
table.tableHeader tr.tabRowSelected {
	background: #fffbd4;
}
table.tableHeader td {
	padding: 4px 6px;
	color: #4c4c4c;
	border-bottom: 1px solid #e9e9e9;
}
table.tableHeader tr.segmentCondition td {
	padding: 8px 6px;
	color: #4c4c4c;
	border-bottom: 1px solid #e9e9e9;
}
table.tableHeader tr.segmentConditionAdd td {
	padding: 8px 6px;
	color: #4c4c4c;
}
table.bigPadding td {
	padding: 15px 6px 8px 6px !important;
}
table.tableHeader tr.big td {
	font-size: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
}
table.tableHeader tr.segmentHighlight {
	background: #f5f5f5;
}
table.tableHeader tr.segmentHighlight:hover {
	background: #f0f0f0;
}
table.tableHeader tr.segmentHighlight td {
	padding: 5px 6px !important;
}
table.tableHeader tr.segmentHighlight td.rowSegment {
	padding-left: 20px !important;
}
table.tableHeader tr td span.big {
	font-size: 12px;
	color: #333;
}
table.tableHeader tr td.avgCount {
	font-size: 18px;
	font-weight: bold;
	padding: 30px 0 10px 0;
}
table.tableHeader tr td.avgLabel {
	font-size: 12px;
	color: #666;
	padding: 30px 0 0 0;
}
table.tableHeader td p {
	font-size: 12px;
	padding: 1px 0;
}
table.tableHeader td span {
	color: #8d9095;
}
table.tableHeader td.rowLeft {
	padding-left: 11px;
}
table.tableHeader tr.big td.rowLeft span {
	color: #737373;
}
table.tableHeader td.rowRight {
	padding-right: 11px;
}
table.tableHeader td a.light {
	color: #8e9195;
}
table.tableHeader td.clickCountCell {
	padding-right: 18px;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}
table.tableHeader td.highlightCell {
	background: #f5f5f5;
}
table.tableHeader tr:hover td.highlightCell {
	background: #f0f0f0;
}
table.simple td {
	padding: 2px;
}
table.tableTabsHeader td.alertRow {
	background: #e3e3e3;
	padding: 6px 16px;
	color: #818181;
}
table.tableStats {
	margin-bottom: 5px;
}
table.tableStats td {
	background: url('../img/bg/table-stats.gif') repeat-x top left;
	padding: 15px 12px 10px 18px;
	font-size: 22px;
	color: #494949;
	font-weight: bold;
}
table.tableStats td.statLeft {
	background: url('../img/bg/table-stats-left.gif') repeat-x top left;
}
table.tableStats td.statRight {
	background: url('../img/bg/table-stats-right.gif') no-repeat top right;
	width: 8px;
}
table.tableStats td span {
	display: block;
	font-size: 12px;
	color: #959595;
	font-weight: normal;
	padding-bottom: 5px;
	line-height: 14px;
}
table.tableStats td span.statmeta {
	font-size: 11px;
	color: #717171;
	padding: 4px 0 15px 0;
}
table.subscriberStats {
	margin-bottom: 20px;
}
table.subscriberStats td {
	padding: 4px 6px;
	color: #4c4c4c;
	border-bottom: 1px solid #e9e9e9;
}
table.subscriberStats td.rowLeft {
	padding-left: 11px;
	color: #8d9095;
	text-transform: lowercase
}
table.subscriberStats td.rowRight {
	padding-right: 11px;
	font-weight: bold;
}
table.subscriberStats td.rowRight span {
	font-weight: normal;
	padding-left: 8px;
}
table.subscriberStats td.rowRight img {
	padding-left: 5px;
}
table.performance td {
	font-size: 11px;
	padding: 2px 0;
	color: #47473b;
}
table.performance th {
	font-size: 11px;
	font-weight: bold;
	padding: 2px 18px 2px 0;
	vertical-align: top;
	color: #47473b;
}
table.goalSummary td {
	padding: 11px 0;
	border-bottom: 1px solid #ebebc7;
	vertical-align: top;
}
table.goalSummary tr.lastGoal td {
	border-bottom: none !important;
}
table.goalSummary td div {
	background: #9ddb84;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	font-size: 22px;
	font-weight: bold;
	color: #346720;
	padding: 11px 10px;
	text-align: center;
}


table.goalSummary td div.temperror {
	background: #f4dd31;
	color: #a49500;
}

table.goalSummary td div.secondary {
	background: #d3d4c0;
	color: #94948e;
}
table.goalSummary td div.unsubcribe {
	background: #f8ad96;
	color: #9c2500;
}
table.goalSummary td.goalDescription {
	padding-left: 14px;
	font-size: 11px;
	color: #808073;
}
table.goalSummary td.quote {
	background: url('../img/icons/goal-quote.gif') no-repeat 0 18px;
}
table.goalSummary td.goalDescription h2 {
	border: none;
	color: #4a4a47;
	font-size: 16px;
	padding: 2px 0 1px 0;
	line-height: 18px;
}

table.goalSummary td.goalDescription h2 span {
	color: #858585;
}

table.snapshotStats td {
	font-size: 12px;
	padding: 5px 0 4px 20px;
	border-bottom: 1px solid #dcdcdc;
	color: #565656;
}
table.snapshotStats td span {
	color: #a2a2a2;
	font-size: 12px;
}
table.snapshotStats td span.howJoined {
	color: #a2a2a2;
	font-size: 11px;
}
table.snapshotStats th {
	font-size: 12px;
	padding: 5px 0 4px 0;
	border-bottom: 1px solid #dcdcdc;
	color: #a2a2a2;
	font-weight: normal;
}
table.snapshotStats td.noLine, table.snapshotStats th.noLine {
	border-bottom: none;
}
table.colorPicker {
	border: 6px solid #ccc;
	background: #fff;
	margin-top: 4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
}
table.colorPicker td {
	padding: 0;
}
.colorPickerHighlight {
	background: url('../img/bg/colorPickerRow.gif') no-repeat top left;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
}
#colorPickerDiv {
	top: 30px !important;
}
table.tableHeader tr.letterRow td {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 11px;
	font-weight:bold;
}

table.tableHeader tr.dashRow td {
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
}

table.tableHeader tr.dashRowActive td {
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
	/*background-color:#faf4cf;*/
}

table.tableHeader tr.drafts td {
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
	background-color:#faf4cf;
}

table.darkFooter th {
	background: url('../img/bg/footer-dark-grey.gif') repeat-x top left;
	padding: 2px 6px 5px 6px;
	font-size: 12px;
	color: #636b75;
}
table.darkFooter th.footerLeft {
	background: url('../img/bg/footer-dark-grey-left.gif') no-repeat top left;
	padding-left: 5px;
}
table.darkFooter th.footerRight {
	background: url('../img/bg/footer-dark-grey-right.gif') no-repeat top right;
	padding-right: 11px;
}
table.noCellPad td {
	padding: 0;
}
table.searchHelp td {
	padding: 0px;
}
.noData {
	padding: 20px 10px 10px 10px;
}
.noData p {
	text-align: center;
	color: #666;
}


/* ----- ADMIN NAVS ----- */

#adminNavsWrapper {
	width:96%;
	margin:0 auto;
	min-width:950px;
	max-width:1800px;
	padding: 0px 10px 0px 10px;
	margin-top:5px;
	height:27px;
}
.adminRight {
	float: right;
	margin-right: 5px;
	
}
body#admin .adminNavs {
    margin-bottom: 2px;
	margin-bottom: 8px !ie;
}
.adminNavs {
	margin-bottom: 0px;
}
.adminNavs { /*margin-bottom: 8px !ie;*/ }
.adminNavs ul {
	list-style:none;
}
.adminNavs li {
	display:inline;
	margin:0;
	padding:0;
}
.adminNavs a {
	float:left;
	/*background:url(../img/navigation/left_both.gif) no-repeat left top;*/
	padding:0 3px 0 9px;
	text-decoration:none;
	font: bold 11px arial, helvetica, sans-serif;
	line-height: 24px;
	display: block;
}
.adminNavs a span {
	float:left;
	display:block;
	/*background:url(../img/navigation/right_both.gif) no-repeat right top;*/
	padding:0 9px 0 0;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.adminNavs a span {float:none;}
/* End IE5-Mac hack */
.adminNavs a:hover span {
	text-decoration:underline;
}
.adminNavs #adminNavsOn a {
	/*background-image:url(../img/navigation/left_on.gif);*/
	border-width:0;
}
.adminNavs #adminNavsOn a span {
	/*padding-bottom:8px;*/
}
.adminNavs #adminNavsOn a:hover {
	background-position: top left;
}
.adminNavs #adminNavsOn a:hover span {
	background-position: top right;
}

/* ----- CLIENT HELP/LOGOUT NAVS ----- */

.clientNavs {
	margin: 10px 15px 0 0;
	float: right;
}
.clientNavs ul {
	list-style:none;
}
.clientNavs li {
	display:inline;
	margin:0;
	padding:0;
}
.clientNavs a {
	float:left;
	padding:0 3px 0 9px;
	text-decoration:none;
	font: bold 11px arial, helvetica, sans-serif;
	line-height: 16px;
	display: block;
}
.clientNavs a span {
	float:left;
	display:block;
	padding:2px 9px 2px 0;
	color:#fff;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.clientNavs a span {float:none;}
/* End IE5-Mac hack */
.clientNavs a:hover span {
	color:#fff;
}
.clientNavs #clientNavsOn a {
	border-width:0;
}
.clientNavs #clientNavsOn a span {
	color:#333;
	padding-bottom:8px;
}

/* ----- MINI TABS ----- */

ul.minitab, ul.minitab li {
	border:0;
	margin:0;
	padding:0;
	list-style:none;
}
ul.minitab {
	border-bottom: solid 1px #DEDEDE;
	height:29px;
	padding-left:15px;
	margin-top: 15px;
}
ul.minitab li {
	float:left;
	margin-right:2px;
}
.minitab a:link, .minitab a:visited {
	background:url(../img/navigation/tab-round.png) right 60px;
	color:#666666;
	display:block;
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-decoration:none;
	font-size: 11px;
	padding: 0;
	cursor:pointer;
}
.minitab a span {
	background:url(../img/navigation/tab-round.png) left 60px;
	display:block;
	height:30px;
	margin-right:14px;
	padding-left:14px;
}
.minitab a:hover {
	background:url(../img/navigation/tab-round.png) right 30px;
	display:block;
	cursor:pointer;
}
.minitab a:hover span {
	background:url(../img/navigation/tab-round.png) left 30px;
	display:block;
}
.minitab .active a:link, .minitab .active a:visited, .minitab .active a:visited, .minitab .active a:hover{
	background:url(../img/navigation/tab-round.png) right 0 no-repeat;
	cursor:pointer;
} 
.minitab .active a span, .minitab .active a:hover span{
	background:url(../img/navigation/tab-round.png) left 0 no-repeat;
}
.regenerate {
	font-size: 11px;
	font-weight: bold;
	padding-top: 6px;
	color: #666;
	padding-left: 15px;
}
.subscribeCode {
	margin: 15px;
	padding: 5px;
	background: #e4e4e4;
}



/* ----- SIDEBAR ----- */

#rightcol p {
	font-size: 11px;
	color: #666;
	line-height: 15px;
}
h3.sidebar {
	color: #585858;
	margin: 0;
	padding: 1px 10px;
	font-size: 12px;
}
h3.sidebar span {
	color: #d1d1d1;
	font-size: 11px;
	display: block;
	float: right;
	font-weight: normal;
}
.bghighlight {
	margin: 0 0 15px 0;
}
.top10 {
	margin-top: 10px;
}
.sidebarbutton {
	margin-bottom: 25px;
}
dl.icon-menu  {
	padding-top: 5px;
}
dl.icon-menu-notop  {
	margin-top: 5px;
}
dl.icon-menu dt, dl.icon-menu-notop dt {
	float: left;
	width: 25px;
	height: 35px;
}
dl.icon-menu dd, dl.icon-menu-notop dd {
	margin-left: 25px;
	font-size: 11px;
	padding-bottom: 4px;
	color: #828282;
}
dl.icon-menu dd a, dl.icon-menu-notop dd a {
	font-size: 12px;
	font-weight: bold;
}
dl.icon-menu dd.noLink {
	font-size: 12px;
	font-weight: bold;
	color: #525252;
}
dl.icon-menu dd a.small, dl.icon-menu-notop dd a.small {
	font-size: 11px;
	font-weight: normal;
}
dl.icon-menu dd.last, dl.icon-menu-notop dd.last {
	margin-bottom: 10px;
}
dl.icon-menu dd.lastBig, dl.icon-menu-notop dd.lastBig {
	margin-bottom: 25px;
}
form.sortClients input {
	margin: 0 0 0 2px;
}
form.sortClients label {
	color: #808080;
	padding-left: 3px;
}
form.sortClients {
	margin-bottom: 30px;
}
form.sortClients div {
	margin-bottom: 6px;
	margin-bottom: 0 !ie;
}
#credits {
	background: #fffbd4;
	border-top: 1px solid #f0ed92;
	border-bottom: 1px solid #f0ed92;
	padding: 10px 16px;
	margin-top: 20px;
}
#credits h1 {
	float: left;
	font-size: 26px;
	margin: 0 10px 0 0;
	padding-bottom: 5px;
	line-height: 16px;
}
#credits p {
	float: left;
	font-size: 11px;
	line-height: 12px;
	padding-top: 4px;
}
.sidebarCTA {
	font-size: 11px;
	font-weight: bold;
	background: #f5e9b6;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	padding: 7px 10px;
	margin-top: 5px;
	color: #adadad;
}
#rightcol .sidebarCTA a {
	color: #71706d;
}

/* ----- CLIENT DASHBOARD ----- */

#content h1.bottomLine {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 8px;
	margin-bottom: 5px;
}
#content h1 span.clientHeader {
	font-size: 11px;
	color: #666;
	padding: 5px 7px 0 0;
}
.clientWrapOn {
	background: #f7f7f7;
}
.clientWrap h2, .clientWrapOn h2 {
	font-size: 12px;
	font-weight: bold;
	padding: 8px 5px 10px 5px;
	margin: 0 0 2px 0;
}
.clientWrap h2 a.clientLink, .clientWrapOn h2 a.clientLink {
	color: #4c4c4c;
}
.clientWrap h2 span, .clientWrapOn h2 span {
	color: #d3d3d3;
	font-size: 11px;
	font-weight: normal;
	padding-left: 10px;
}
.clientWrap p, .clientWrapOn p {
	padding: 0 0 3px 0;
}
.clientSettingsWrap {
	float: right;
	width: 280px;
	text-align: right;
	padding: 9px 8px 0 5px;
}
.reportsWidth {
	width: 180px;
}
.subscriberWidth {
	width: 250px;
}
.clientSettingsWrap p {
	padding: 0;
	font-size: 11px;
}
p.accessSummary {
	font-size: 11px;
	color: #8a8989;
	padding-top: 0;
}
span.noAccess {
	color: #666;
	background: #d7d7d7;
	font-weight: bold;
	padding: 1px 2px;
	text-transform: uppercase;
}
span.fullAccess {
	color: #fff;
	background: #4cb93e;
	font-weight: bold;
	padding: 1px 2px;
	text-transform: uppercase;
}
span.reportAccess {
	color: #3f9335;
	background: #e9fde7;
	font-weight: bold;
	padding: 1px 2px;
	text-transform: uppercase;
}
span.blockedAccess {
	color: #d81414;
	background: #ffebeb;
	font-weight: bold;
	padding: 1px 2px;
	text-transform: uppercase;	
}
.newFeatures {
	padding: 12px 10px;
}
.newFeatures p.newsTitle {
	padding-top: 3px;
	font-size: 12px;
	color: #2c2c2c;
	font-weight: bold;
	padding-bottom: 3px;
	line-height: 16px;
}
.newFeatures p {
	color: #909090;
	font-size: 11px;
	line-height: 14px;
}
.newFeatures p span {
	margin-right: 5px;
	font-weight: normal;
}
.newFeatures p span.newNews {
	background: #fff600;
}
.newFeatures p.subscribe {
	border-top: 1px solid #ededed;
	padding-top: 5px;
	margin-top: 8px;
}
.newFeatures p.hide a {
	color: #9d9d9d;
}
#clientBlankSlate {
	background: #dcfcc6 url('../img/bg/blank-slate.gif') repeat-x top left;
	padding: 8px 20px 12px 20px;
	border-top: 2px solid #d7fac4;
	border-bottom: 2px solid #c9ebbe;
	margin-bottom: 20px;
}
#clientBlankSlate h1 {
	font-size: 22px;
	padding: 12px 0 18px 0;
}
#clientBlankSlate p {
	font-size: 14px;
	line-height: 18px;
	color: #4b5047;
}
#clientBlankSlate div.instructions {
	border-top: 1px solid #cee8bc;
	margin-top: 10px;
	padding-top: 15px;
}
#clientBlankSlate div.instructions p {
	font-size: 12px;
	color: #6d7b65;
	line-height: 16px;
	padding-top: 3px;
}
#clientBlankSlate .instructionsCTA {
	padding-left: 15px;
}

table.activity {
	padding: 3px 5px;
	margin-bottom: 30px;
}
table.activity td {
	color: #4c4c4c;
	border-bottom: 1px solid #e9e9e9;
	padding: 8px 5px;
	line-height: 14px;
}
table.activity tr:last-child td {
	border-bottom: none;
}
table.activity td.activityAction {
	font-size: 11px;
}
td.activityAction span {
	text-transform: uppercase;
	color: #848484;
	font-size: 11px;
	padding-right: 8px;
}
table.activity td.activityTime {
	font-size: 11px;
	color: #969696;
	text-align: right;
}
table.activity td.activityType {
	padding: 0 5px 0 0;
	width: 64px;
}
td.activityType div {
	width: 64px;
	padding: 2px 1px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}
div.activityDraft {
	background: #629fcf;
}
div.activitySched {
	background: #629fcf;
}
div.activitySent {
	background: #379b3c;
}
div.activityImport {
	background: #d9c855;
}
div.activityTest {
	background: #eead2f;
}
div.activityProfit {
	background: #64cb7c;
}
div.activityAlert {
	background: #bd4646;
}
div.activityNews {
	background: #434343;
}

div.activityActive {
	background: #379b3c;
}
div.activityArhiv {
	background: #cccccc;
}
/* ----- PAGING ----- */

.pageCount {
	float: left;
	margin-top: -2px;
}
.paginationSummary {
	float: right;
}
.pagination {
	float: left;
}
.pagination li {
	border:0;
	font-size:11px;
	list-style:none;
	/* savers */
	float:left;
}
.pagination a {
	border:solid 1px #d7d7d7;
	margin-right:3px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
}
.pagination li.next a, .pagination li.previous a {
	border: none;
	background: none;
	padding: 2px 5px;
}
.pagination .active { 
	background:#9da1a7;
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left;
	padding:2px 4px;
	/* savers */
	margin-right:3px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
}
.pagination .divider { 
	display:block;
	float:left;
	padding:4px 6px 0 4px;
}
.pagination a:link, .pagination a:visited {
	display:block;
	float:left;
	padding:1px 4px;
	text-decoration:none;
	background: #0e3257;
	color: #fff; 
}
.pagination a:hover {
	border:solid 1px #b3b3b3;
}
.pagination li.dots {
	padding-right: 3px;
	color: #b6b8bb;
}

/* ----- REPORTING ----- */

.chart {
	margin: 0 0 10px 0;
}
#overTimeChart {
	margin: 0 0 0 0;
}
#overTimeTotalChart {
	margin: 0 0 18px 0;
}
#compareChart {
	margin: 0 175px 25px 0;
}
#compareOptions {
	float: right;
	width: 120px;
	background: #e4e4e4;
	margin-top: 15px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	padding: 10px 18px;
}
#compareOptions h3 {
	font-size: 14px;
	color: #000;
}
#compareOptions p {
	font-size: 11px;
	color: #444;
}
#compareOptions p label {
	padding-left: 5px;
}
#compareOptions p img {
	vertical-align: top;
	padding-top: 6px;
}
.showAverages {
	border-top: 1px dotted #b8b8b8;
	padding-top: 10px;
	margin-top: 4px;
}
.campaignActions {
	float: right;
	padding-top: 3px;
	font-size: 11px;
	color: #7f7f7f;
	font-weight: normal;
	text-align: right;
}
.campaignActions img {
	margin: 0 0 3px 3px;
}
.campaignActions img.reportButton {
	margin: 0 0 7px 10px;
}
.campaignActions img.textButton {
	margin: 15px 0 10px 10px;
}
#leftContent {
	float: left;
	margin: 15px 0 25px 0;
	min-width: 380px;
	width: 50%;
}
#leftSiteActivity {
	float: left;
	width: 50%;
	margin: 15px 0 25px 0;
}
#rightContent {
	float: left;
	padding: 25px 0 32px 3%;
}
#rightSiteActivity {
	padding: 15px 0 25px 3%;
	float: left;
}
#pieChart {
	width: 185px;
	float: left;
}
.pieSummary {
	float: left;
	padding-top: 10px;
}
.textPieSummary {
	float: left;
	padding-top: 30px;
}
.pieLegend {
	padding: 0 0 15px 15px;
	font-size: 11px;
	color: #7f7f7f;
}
#pieOpened {
	background: url('../img/icons/legend-green.gif') no-repeat 0 5px;
}
#pieUnopened {
	background: url('../img/icons/legend-blue.gif') no-repeat 0 5px;
}
#pieBounced {
	background: url('../img/icons/legend-red.gif') no-repeat 0 5px;
}
#pieComplained {
	background: url('../img/icons/legend-aqua.gif') no-repeat 0 5px;
}
.pieLegend h3 {
	font-size: 18px;
	margin: 0;
	padding-bottom: 2px;
	color: #000;
}
.pieLegend h3 a {
	font-size: 14px;
	font-weight: normal;
}
.pieLegend h3 span {
	font-size: 14px;
	font-weight: normal;
	color: #444;
}
#rightContent p {
	color: #747474;
	padding-bottom: 11px;
}
#rightContent p span {
	font-size: 18px;
	font-weight: bold;
	padding-right: 5px;
}
.siteActivity {
	padding: 0 0 20px 10px;
	font-size: 12px;
	color: #999;
}
#rightSiteActivity .siteActivity {
	padding: 0 0 20px 0;
}
.siteActivity h3 {
	font-size: 20px;
	color: #000;
	padding-bottom: 2px;
	margin: 0;
}
.siteActivity h3 span {
	font-size: 14px;
	font-weight: normal;
	color: #7f7f7f;
}
#recipientSearch {
	float: right;
	font-size: 12px;
	padding-top: 8px;
}
h1.reportTitle {
	font-size: 20px;
}
h1.reportTitle span {
	font-size: 11px;
	color: #666;
}
h2.campaignName {
	margin-top: -10px;
	color: #7f7f7f;
	padding-bottom: 15px;
	font-size: 14px;
	font-weight: normal;
}
h2.campaignName span {
	color: #9a9a9a;
	font-size: 11px;
	font-weight: normal;
	padding-left: 5px;
}
.clickCount {
	background: #4ba9e5;
	height: 11px;
	margin: 3px 0 3px 0;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
}
.clickCountDark {
	background: #2a8bc9;
	height: 11px;
	margin: 3px 0 3px 0;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
}
.clickCountFull {
	background: #47a0d9;
	height: 9px;
	margin: 3px 0 3px 0;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
}
.clickCountBG {
	background: #e7e7e7;
	height: 9px;
	margin: 3px 0 3px 0;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
}
.deliverPercentBG {
	background: #d1d1d1;
	height: 11px;
	margin: 3px 0 3px 0;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
}
.deliverPercent {
	background: #50b432;
	height: 11px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
}
th.cellCenter, td.cellCenter {
	text-align: center;
}
th.cellRight, td.cellRight {
	text-align: right;
}
th.cellLeft, td.cellLeft {
	text-align: left;
}
.dataHighlight {
	background: #fdfde3;
	border: 1px solid #ebebc7;
	margin: 5px 0 20px 0;
	padding: 5px 18px 5px 18px;
}
.salesHighlight {
	margin: 15px 0 4px 0;
}
#leftHighlight {
	float: left;
	width: 46%;
	padding: 15px 0 0 0;
}
#rightHighlight {
	float: left;
	width: 46%;
	padding: 15px 0 0 25px;
}
.dataHighlight h2 {
	font-size: 16px;
	margin: 0;
	padding-bottom: 4px;
	border-bottom: 1px solid #ebebc7;
}
.dataHighlight h2.best {
	color: #33861a;
}
.dataHighlight h2.worst {
	color: #963a30;
}
.greenFlag {
	background: url('../img/icons/green-flag.gif') no-repeat 5px 6px;
	padding: 4px 0 0 50px;
	margin: 8px 0 12px 0;
}
.redFlag {
	background: url('../img/icons/red-flag.gif') no-repeat 5px 6px;
	padding: 4px 0 0 50px;
	margin: 8px 0 0 0;
}
div.legendOpen {
	background: #50b432;
	width: 9px;
	height: 9px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
}
div.legendClick {
	background: #058dc7;
	width: 9px;
	height: 9px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
}
div.legendForward {
	background: #61149c;
	width: 9px;
	height: 9px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
}
div.legendBounce {
	background: #e6180e;
	width: 9px;
	height: 9px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
}
div.legendUnsubscribe {
	background: #ff9743;
	width: 9px;
	height: 9px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
}
div.legendComplaint {
	background: #6af9c4;
	width: 9px;
	height: 9px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
}
div.subscriberSnapshotHead {
	background: #2d2d2d url('../img/icons/subscriber-head.gif') no-repeat top right;
	color: #fff;
	padding: 16px 18px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 15px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
}
div.subscriberSnapshotHeadEdit {
	background: #2d2d2d;
	color: #fff;
	padding: 16px 18px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 15px;
}
div.subscriberSnapshotHead span, div.subscriberSnapshotHeadEdit span {
	display: block;
	font-size: 15px;
	color: #969696;
}
div.subscriberSnapshot {
	background: #f6f7fa;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	padding: 18px;
	margin-bottom: 25px;
}
h1.subscriberSnapshotTitle {
	font-size: 18px;
}
div.snapshotHistory {
	float: right;
	width: 155px;
	text-align: right;
	font-size: 12px;
	padding-top: 14px;
}
div#clientUsagePie {
	float: left;
	width: 360px;
	padding: 0;
}
div.clientUsageSummary {
	margin-left: 355px;
	padding: 20px 0 15px 0;
}
div.usageLegend {
	width: 9px;
	height: 9px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
}
div.textSummary {
	float: left;
	width: 300px;
	padding: 15px 0 15px 10px;
}
div.textPie {
	margin-left: 300px;
	padding: 10px 0 25px 0;
}
div.textDivider {
	border-top: 1px solid #e9e9e9;
	margin-bottom: 5px;
}
div.editSubButton {
	float: right;
	padding: 4px 0 0 0;
	text-align: right;
}
#sentLists {
	width: 375px;
	background: #e4e4e4;
	margin: -3px 0 18px 0;
	padding: 8px 6px 6px 6px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
table.sentListsData td {
	font-size: 12px;
	color: #666;
	border-bottom: 1px solid #d3d3d3;
}
table.sentListsData tr.last td {
	border: none;
}
.bounceDesc {
	text-align: left;
}
.bounceDesc p {
	line-height: 18px;
}

/* ----- GOOGLE ANALYTICS ----- */

#gaAccountsAndProfiles {
	padding: 3px;
}
#gaProfiles {
	padding-bottom: 10px;
}
.loadingData {
	float: left;
	padding: 7px 0 8px 0;
}
.loadingDataSelect {
	float: left;
	padding: 8px 0 5px 0;
}
.textForm {
	padding-top: 6px;
}
#googleFailure {
	background: #ffd1d1 url("../img/icons/alert-failure.gif") no-repeat 13px 6px;
	border-top: 1px solid #f8acac;
	border-bottom: 1px solid #f8acac;
	margin: -15px 0px 30px 0px;
	padding: 5px 10px 5px 35px;
}
#googleFailure h3 {
	color: #8d3f3f;	
	font-size: 11px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.gaAlert {
	color: #797979;
	font-size: 11px;
	padding: 7px 7px 7px 29px;
	background: #d4d4d4 url("../img/icons/google-ana.png") no-repeat 6px 5px;
	margin: -5px 0 15px 0;
}

/* ----- CREATE/SEND ----- */

#campaignStage {
	padding: 7px 0 25px 0;
}
#campaignStage h1 {
	padding: 0;
}
#campaignStage h1.step1 {
	padding: 9px 0 7px 0;
}
#campaignStage h1 span.campaignName {
	display: block;
	font-size: 12px;
	font-weight: normal;
	color: #828282;
	padding: 0;
}
#authenticationTick, #differentDomainDesc {
	float: right;
	font-size: 11px;
	padding: 7px 7px 0 0;
	color: #666;
}
#importIssues {
	padding: 0 18px;
}
#importIssues h3 {
	padding: 5px 0 8px 0;
}
table.importSummary th {
	padding: 5px 0;
	font-weight: bold;
	font-size: 12px;
	color #4e4e4e;
}
table.importSummary td {
	padding: 18px 0;
	border-top: 1px solid #e1e1e1;
	font-size: 12px;
	color: #4e4e4e;
}
table.importSummary td span {
	padding: 3px 6px;
	font-weight: bold;
	background: #fff5ca;
	color: #6a6654;
}
table.importSummary td code {
	color: #df3b3b;
}
.formBG h3.noTheme {
	color: #3a3a3a;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 0 2px 0;
	margin: 0;
}
.snapshotButton {
	float: right;
	margin-top: -4px;
}
.allTemplates {
	padding: 15px 0 0 16px;
}
a.filterPercent {
	text-decoration: none;
}
#snapshotAlert {
	background: #fff9d7 url("../img/icons/alert.gif") no-repeat 8px 8px;
	padding: 10px 10px 10px 31px;
	border-bottom: 1px solid #ffe2af;
	margin: -15px 0 15px 0;
	font-size: 11px;
	color: #646457;
}
h1 span.extras {
	font-size: 12px;
	color: #666;
	padding-left: 8px;
}	

/* ----- CONTENT TABS ----- */

#contentNavs {
	padding-bottom: 0;
	float: left;
	clear: both;
}
#contentNavs ul {
	margin: 15px 0 0 0;
	padding:0;
	list-style:none;
}
#contentNavs li {
	display:inline;
	margin:0;
	padding:0;
}
#contentNavs a {
	float:left;
	background:url("../img/navigation/content-left_both.gif") no-repeat left top;	
	margin: 0 2px 0 0;
	padding:0 0 0 15px;
	text-decoration:none;
	font-size: 14px;
	border-bottom: 1px #fff solid;
}
#contentNavs a span {
	float:left;
	display:block;
	background:url("../img/navigation/content-right_both.gif") no-repeat right top;
	padding:9px 15px 8px 0;
	font-weight:bold;
	color:#9a9a9a;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#contentNavs a span {float:none;}
/* End IE5-Mac hack */
#contentNavs a:hover span {
	color:#5c5c5c;
}
#contentNavs #current a, #contentNavs .current a {
	background-image:url("../img/navigation/content-left_on.gif");
	border-width:0;
	border-bottom: 1px #f0f0f0 solid;
}
#contentNavs #current a span, #contentNavs .current a span {
	background-image:url("../img/navigation/content-right_on.gif");
	color:#000;
	padding-bottom:8px;
	text-shadow: none;
}
#contentNavs a:hover {
	background-position:0% -100px;
}
#contentNavs a:hover span {
	background-position:100% -100px;
}
#contentNavs #current a:hover, #contentNavs .current a:hover {
	background-position: top left;
}
#contentNavs #current a:hover span, #contentNavs .current a:hover span {
	background-position: top right;
}

/* ----- BLANK SLATE ----- */

#blankSlateIntro {
	background: #e1ffd1;;
	border-top: 1px solid #c5f8ac;
	border-bottom: 1px solid #c5f8ac;
	margin: 15px 0 15px 0;
	padding: 5px 15px 18px 15px;
	text-align: center;
}
#blankSlateIntro h1 {
	font-size: 24px;
	padding: 20px 0 10px 0;
	color: #499524;
}
#blankSlateIntro h1 a {
	color: #499524;
}
#blankSlateIntro p {
	color: #7d8977;
}
#blankSlateOptions {
	text-align: center;
	background: #f5f5f5;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	padding: 15px 0 18px 0;
}
#blankSlateOptions h3 {
	padding-bottom: 5px;
	margin: 10px 0 0 0;
}

/* ----- MANAGE SUBSCRIBERS ----- */

div.segmentDivider {
	padding: 5px 0 18px 0px;
	text-align:left;
}
div.segmentDivider span {
	background: #75abcd !important;
	padding: 5px 8px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

div.segmentDividerNo {
	padding: 25px 0 18px 0px;
	text-align:left;
}
div.segmentDividerNo span {
	background: #ff8585;
	padding: 5px 8px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

span.conditionDivider {
	background: #bcbcbc;
	padding: 3px 5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	color: #fff !important;
	font-weight: bold;
	font-size: 11px;
}
div.segmentCount {
	text-align: center;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	color: #909090;
	background:url("../img/bg/segment-count.png") repeat-x top left;
	font-size: 12px;
	margin: 0 0 20px 0;
	padding: 24px 10px 20px 10px;
}
div.segmentCount span {
	display: block;
	color: #383838;
	font-size: 40px;
	padding: 3px 0 2px 0;
}

/* Testing screenshots */

.editPreview {
	background: url("../img/bg/screen-case.gif") no-repeat;
	float: left;
	height: 196px;
	margin: 0 0 15px 17px;
	overflow: hidden;
	width: 220px;
}
.editPreview p {
	height: 150px;
	margin: 9px 10px 0 10px;
	width: 199px;
	border: 1px solid #f0f0f0;
}
.editPreview p.loaded {
	cursor: pointer;
	cursor: hand;
}
.editPreview h2 {
	font-size: 12px;
	margin: 0 15px;
	padding: 6px 0 2px 0;
	text-align: center;
}
.resultsWrapper {
	padding: 5px;
}
.contentHeaderDull {
	margin: 20px 0 0 0; 
	color: #47576d;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 2px solid #67768d;
	border-top: 1px solid #eceff2;
	padding: 8px;
	background: #F3F8FF url("../img/bg/dullContentHeader.gif");
}
.spamPass {
	background: url("../img/icons/spamTick.gif") 9px 11px no-repeat;
	font-weight: bold;
	padding: 13px 9px 13px 39px;
	border-bottom: 1px solid #e4e4e4;
}
.spamPass span.status {
	color: #39be14;
	font-size: 11px;
	font-weight: bold;
	display: block;
	width: 250px;
	text-align: right;
	float: right;
}
.spamPass p {
	margin: 0;
	padding: 0;
}
.spamFail {
	background: url("../img/icons/spamCross.gif") 9px 11px no-repeat;
	font-weight: bold;
	padding: 13px 9px 13px 39px;
	border-bottom: 1px solid #e4e4e4;
}
.spamFail span.status {
	color: #cf1212;
	font-size: 11px;
	font-weight: bold;
	display: block;
	width: 100px;
	text-align: right;
	float: right;
}
.spamFail p {
	margin: 0;
	padding: 0;
}
.spamWaiting {
	background: url("../img/icons/spamWaiting.gif") 9px 11px no-repeat;
	font-weight: bold;
	padding: 13px 9px 13px 39px;
	border-bottom: 1px solid #e4e4e4;
}
.spamWaiting span.status {
	color: #ff8d00;
	font-size: 11px;
	font-weight: bold;
	display: block;
	width: 100px;
	text-align: right;
	float: right;
}
span.spamwarnings {
	color: #bfbfbf;
	font-weight: normal;
	margin-left: -7px;
}
span.spamwarnings a {
	color: #9D9D9D;
	font-weight: normal;
}
.spamWaiting p {
	margin: 0;
	padding: 0;
}
.spamBroken {
	background: url("../img/icons/spamBroken.gif") 9px 11px no-repeat;
	font-weight: bold;
	padding: 13px 9px 13px 39px;
	border-bottom: 1px solid #e4e4e4;
}
.spamBroken span.status {
	color: #999;
	font-size: 11px;
	font-weight: bold;
	display: block;
	width: 100px;
	text-align: right;
	float: right;
}
.spamBroken p {
	margin: 0;
	padding: 0;
}
.spamPass p span, .spamFail p span, .spamWaiting p span, .spamBroken p span {
	font-size: 11px;
	color: #9d9d9d;
	padding-left: 12px;
}
#Norton_Internet_Secu, #McAfee_Security_Cent, #Outlook_2007, #MessageLabs, #Spam_Assassin {
	background-color: #f8f8f8;
}
#gateway {
	margin-top: 30px;
}
.reasons {
	background: url("../img/bg/spamReasons.gif") repeat-x;
	padding: 12px 12px 12px 12px;
	font-size: 11px;
	line-height: 14px;
	border-bottom: 1px solid #e2e2e2;
}
.reasons p {
	font-size: 11px;
	margin: 0;
	padding: 0 0 5px 0;
}
.reasons ul {
	margin: 0;
	padding-left: 28px;
}
.reasons ul li {
	font-size: 11px;
}
.filterDesc {
	color: #484848;
	line-height: 17px;
	margin-bottom: 25px;	
	padding-top: 10px;
}
#testCampaignName {
	float: right;
	width: 415px;
	text-align: right;
	font-weight: bold;
	line-height: 18px;
	font-size: 14px;
	color: #1A5BB2;
	padding: 2px 5px 0 0;
}
#filtersPassed {
	padding: 7px 12px;
	float: right;
	margin: -4px 0 0 25px;
	border: 1px solid #d9d9d9;
	background: #fff;
	-moz-border-radius:7px;
	border-radius:7px;
	-webkit-border-radius:7px;
}
#filtersPassed span.number {
	float: left;
	color: #292929;
	font-size: 36px;
	font-weight: bold;
}
#filtersPassed span.desc {
	float: left;
	font-size: 12px;
	display: block;
	color: #7f7f7f;
	width: 50px;
	text-align: center;
	font-weight: normal;
	padding: 6px 0 0 5px;
}
td.contentBottom a.filerPercent {
	text-decoration: none;
	color: #000;
}
.noHand {
	cursor: default;
}
h3.screenType {
	font-weight:bold;
	line-height:1.1;
	font-size: 14px;
	color: #4a4a4a;
	padding: 10px 0;
	background: #dcdcdc;
	margin: 3px 17px 16px 17px;
	text-align: center;
}
h3.screenType span {
	color: #969595;
}
h3.screenType img {
	vertical-align: middle;
	padding-right: 7px;
}
#gatewayWrap .spamPass, #gatewayWrap .spamFail, #gatewayWrap .spamWaiting, #gatewayWrap .spamBroken {
	border-bottom: none;
}

/* HELP */

.searchHolder {
	float: right;
}
h2.help {
	font-size: 16px;
	margin-bottom: 10px;
}
h2.help a {
	color: #595959;
}
body.help ul.help {
	margin: 0 0 30px 0;
}
body.help ul.help li {
	margin-left: 0;
	padding: 2px 0px 5px 23px;
	display: block;
	list-style-type: none;
	background:url("../img/icons/doc.png") no-repeat 8px 5px;
	font-size: 12px;
	line-height: 16px;
}
body.help ul.help li.more {
	background: url("../img/bg/helpgrad.png") no-repeat;
	list-style-type: none;
	margin: 8px 0 10px -16px;
	padding-top: 3px;
}
body.help ul.help li.more span {
	font-weight: bold;
	font-style: italic;
}
input.searchHelpField {
	font-size: 11px;
	color: #5f5f5f;
	width: 120px;
}
h3.adminOnlyHelp {
	background: #ffd479;
	color: #735e31;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 15px 2px 15px;
	margin: 15px 0 0 0;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
}
h3.adminOnlyHelp span {
	float: right;
	font-weight: normal;
	font-size: 11px;
	color: #9c8146;
}
div.adminOnlyHelpWrap {
	border-right: 1px solid #ffde99;
	border-bottom: 1px solid #ffde99;
	border-left: 1px solid #ffde99;
	padding: 5px 15px 0 15px;
	margin-bottom: 30px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
}
div.populartopics {
	border: 1px solid #ffde99;
	padding: 5px 15px 0 15px;
	margin: 10px 0 30px 0;
	background: #fffde4;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
body.help ul {
	margin: 0 0 10px 25px;
}
body.help div.adminNavs ul {
	margin: 0;
}

/* SUB NAVS */

#subNavs {
	margin: 0;
	padding: 0;
}

#subNavs span.divider {
	background: url("../img/navigation/subnav-divider.png") no-repeat;
	width: 23px;
	height: 3px;
	border: 1px solid #000;
	display: inline;
}

/* DASHBOARD INTROS */

#CMFirstRun {
	margin: 0 0 25px 0;
	background: #f3f3f3 url("../img/bg/cmintro.gif") bottom left repeat-x;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-border-radius:8px;
	padding: 25px 20px 22px 20px;
}
#CMFirstRun h1 {
	background: url('../img/misc/quick-tour.png') top left no-repeat;
	width: 613px;
	height: 23px;
	text-indent: -5000px;
}
#CMFirstRun td a img {
	border: 2px solid #d6d6d6;
}
#CMFirstRun td a:hover img {
	border: 2px solid #8dc4eb;
}
#CMFirstRun td h3 {
	color: #000;
	font-size: 14px;
	margin-top: 0;
}
#CMFirstRun td {
	padding: 0 18px 0 0;
}
#CMFirstRun td p {
	color: #7e7e7e;
	font-size: 12px;
	line-height: 17px;
}
span.hide {
	float: right;
}

/* ----- CLIENT SETTINGS - ACCOUNT PREFERENCES ----- */

.cbox {
	width: 15px;
	height: 15px;
	float: left;
}
.clear { clear: both; }
.bigh3 {
	color:#333333;
	font-size:14px;
	font-weight:bold;
	margin: 0 0 0 8px;
	float: left;
	padding-left: 3px;
}
.biglabel {
	font-size:12px !important;
	font-weight:bold;
	margin: 0 0 0 8px;
	float: left;
	padding-left: 3px;
}
.billingSettings {
	background: #FFF;
	padding: 0 0 2px 0;
	margin: -2px 0 1px 0;
}
.botline {
	padding: 1px 0;
	border-bottom: 1px dashed #DDD;
	margin-bottom: 10px;
}
.currencyOption {
	margin-top: 0;
	padding: 8px 10px;
}
.designTesting {
	background: #FFF;
	padding: 10px 26px 1px 26px;
	border: 1px solid #E4E4E4;
	margin-bottom: 24px;
}
exampleExtended {
	margin-bottom: 8px;
	padding: 9px 5px 5px 5px;
}
.mbot9 { margin-bottom: 9px; }
.mbot8 { margin-bottom: 8px; }
.mbot22 { margin-bottom: 22px; }
.midmid { margin: 0 0 0 26px; }
.midnew { margin: 0 0 11px 28px; }
.midrad { margin: 0 0 0 28px; }
.ptop9 { padding-top: 9px; }
.radioContainerDark {
	background: #666 none repeat scroll 0 0;
	padding-top: 11px !important;
	margin: 1px 0 10px;
}
.subscribeManage {
	background: #FFF;
	display:none;
	padding: 11px 24px 1px 26px;
	border: 1px solid #E4E4E4;
	margin: 0 0 22px 0;
}
.white { color:#FFF !important; }

/* ----- Prototip Tool Tip on Opens and Clicks Totals ----- */

.nohover { 
	background: none !important;
}
.totalna { 
	font-size: 11px; color: #999999 !important;
	text-decoration: underline;
	padding: 0 10px 0 10px;
	cursor: pointer;
	text-align: center;
}
.totalnacol {
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}
.totalsubtitle {
	font-size: 11px;
	font-weight: bold;
	color: #4C4C4C;
	border: 0 !important;
}
.totaltitle {
	border: 0 !important;
}

/*/////////////////////// */

.prototip {
	font: 11px Arial, Helvetica, sans-serif;
	color: #000;
}

.prototip .darkgrey {
	width: 250px;
	color: #FFF;
	text-align: left;
}
.prototip .darkgrey .toolbar {
	background: #828282;
	font-weight: bold;
}
.prototip .darkgrey .title { padding: 5px; }
.prototip .darkgrey .content {
	background: #F8F8F8;
	color: #575757;
	padding: 5px;
}
div.prototip_Stem { left: 0px; } 

.prototipLoader {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 14px;
	width: 14px;
	border: 1px solid #dddddd;
	overflow: hidden;
}
/*/////////////////////// */
.prototip{position:absolute;overflow:hidden;}.prototip .tooltip,.prototip .toolbar,.prototip .toolbar .title{position:relative;}.prototip .content{clear:both;}.prototip .toolbar .close{position:relative;text-decoration:none;float:right;width:19px;height:15px;display:block;line-height:0;font-size:0;border:0;cursor:pointer;}.prototip .tooltip{clear:both;float:left;}.prototip .borderLeftWrapper,.prototip .borderRightWrapper{position:absolute;top:0;left:0;width:300px;height:20px;}.prototip .borderFrame{height:100%;width:100%;float:left;margin:0;padding:0;position:relative;}.prototip .borderTop,.prototip .borderBottom{overflow:hidden;}.prototip .borderRow{list-style-type:none;float:left;width:100%;position:relative;clear:both;margin:0;padding:0;}.prototip_CornerWrapper{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;clear:both;}.prototip_Corner{float:left;position:relative;}.prototip canvas{position:relative;float:left;}.prototip_CornerTr,.prototip_CornerBr{float:right;}.prototip_BetweenCorners{position:absolute;top:0;left:0;width:100%;overflow:hidden;clear:both;}.prototip .borderMiddle{position:relative;float:left;}.prototip .borderCenter{position:relative;float:left;height:100%;}.prototip_StemWrapper{position:relative;width:100%;height:auto;clear:both;}.prototip_StemBox{float:left;position:relative;}.prototip_Stem{width:100%;position:absolute;overflow:hidden;}.iframeShim{position:absolute;border:0;margin:0;padding:0;background:none;overflow:hidden;}.prototip .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.prototip .clearfix{display:inline-block;}/* IE Mac Hide \*/ .prototip .clearfix{display:block;}/* IE Mac Hide End */


.delete_dialog_question {
font-family:arial,helvetica,sans-serif;
font-size:13px;
text-align:left;
font-weight:normal;
margin:5px 0px 15px 0px;
line-height:18px;
float:left;
}

.delete_dialog_question img {
display:block;
width:32px;
height:32px;
margin:5px 15px 5px 0px;
float:left;
}

.delete_dialog_short_buttons {
clear:both;
margin: 20px auto 15px auto; 
width: 180px;
height:30px;
font-family:arial,helvetica,sans-serif;
}

.delete_dialog_wide_buttons {
clear:both;
margin: 15px auto 15px auto; 
width: 260px;
height:30px;
font-family:arial,helvetica,sans-serif;
}

.List_TimeSelector {
float:right;padding:0px 10px;font-size:12px;border:1px solid #d9d9d9;background-color:#f3f3f3;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
}
.List_TimeSelector .period {
padding:4px 0px;float:left;border-bottom:1px solid #d9d9d9;
}
.List_TimeSelector .periods {
width:50px;text-align:center;float:left;
}
.List_TimeSelector .clear {
font-size:1px;line-height:1px;height:1px;clear:both;
}
.List_TimeSelector .select {
padding:4px 0px;text-align:center;
}

.LettersDetailsButtonsBackground {
background-color:#999999;
margin:8px 0px;
padding:8px 5px;
}

#html_templates {
list-style-type:none;border:1px solid #CCCCCC;padding:15px;background-color:#ffffff;
}
#html_templates li {
float:left;font-weight:bold;padding:10px;border:1px solid #ebebeb;background-color:#f7f7f7;text-align:center;margin:0 15px 15px 0;
}
#html_templates li:hover {
float:left;font-weight:bold;padding:10px;border:1px solid #C5F8AC;background-color:#E1FFD1;text-align:center;margin:0 15px 15px 0;
}

.html_templates {
list-style-type:none;border:1px solid #CCCCCC;padding:15px;background-color:#ffffff;
}
.html_templates li {
float:left;font-weight:bold;padding:10px;border:1px solid #ebebeb;background-color:#f7f7f7;text-align:center;margin:0 15px 15px 0;
}
.html_templates li:hover {
float:left;font-weight:bold;padding:10px;border:1px solid #C5F8AC;background-color:#E1FFD1;text-align:center;margin:0 15px 15px 0;
}

/* FORM */

#subscribe_form {
margin:8px 0;
padding:0;
color:#000;
background-color:#FFF;
color:#86696f;
}
#subscribe_form p {margin:0;padding:5px 0;}
#subscribe_form p.note {margin-left: 150px; font-size:11px; color: #86696f; padding-top:5px;}
#subscribe_form fieldset {margin: 10px 0;padding:15px 10px;border: #faead1 1px solid;background-color:#faeee5;}
#subscribe_form legend { font-weight: bold; color: #666; font-size:11px; }
#subscribe_form fieldset div { padding: 0.5em 0; }
#subscribe_form label, span.label { margin-right: 10px; padding:5px 10px 5px 0; width: 130px; display: block; float: left; text-align: right; position: relative; }
#subscribe_form label em, span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
#subscribe_form div.controlset label, div.controlset input { display: inline; float: none; }
#subscribe_form div.controlset div { margin-left: 150px; }
#subscribe_form div.buttonrow { margin-left: 150px; }

#subscribe_form input, #subscribe_form select, #subscribe_form textarea {	
border:1px solid #D5BC99;
color:#4C4437;
font-family: Georgia, serif;
font-size:13px;
padding:5px;
width:250px;
}

#subscribe_form textarea {
height:150px;
}

#subscribe_form input.button {
border:1px solid #89122c;
color:#ffffff;
font-weight:bold;
padding:5px;
width:150px;
background-color:#9a1f3a;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
}

table.searching {

}

table.searching td {
padding:2px 2px 2px 2px;
}

table.tableTabs td.searchTitle, td.searchTitle {
	color: #5f5f5f;
	font-size: 12px;
	font-weight: bold;
	text-align:left;
	padding:1px 0px;	
}

.messageBodyContainer{
	margin:5px;
}

#kereso .kereso_doboz{
    width:460px;
    padding:20px;
    position: relative;
    font-size:13px;
    font-family: Arial,Helvetica,sans-serif;
}



#kereso .kereso{
    border:1px solid #c0c0c0;
    width:450px !important;
    background: none repeat scroll 0 0 #fff;
    color: #000000;
    margin: 0;
    padding: 5px 3px;
    line-height: 15px;
    display: block;
    overflow:visible;
}

#kereso .trigger{
    background: url('../img/arrow-down.png') center center no-repeat;
    display:block;
    right: 22px; 
    top: 31px;
    width: 28px; 
    height: 28px;
    position: absolute;
}

#kereso .trigger:hover{
    background: url('../img/arrow-down-hover.png') center center no-repeat;
}

#kereso .toggle_container {
    margin: 0px;
    overflow: hidden;
    clear: both;
    display: block;  
    border:1px solid #acacac;
    width: 450px;
   
    padding: 0px;
    position: absolute;
    top:67px;
    left: 30px;
    display:none;
    background-color:white;
	-webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);    
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;    
}

#kereso .toggle_container h3{
    margin:10px;
}

#kereso .toggle_container p{
    overflow: hidden;
    margin:0 10px;
}

#kereso .toggle_container label{
    display:block;
    margin: 10px 0;
}

#kereso .toggle_container input.text{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #A9A9A9;
    color: #000000;
    width:420px;
    padding: 5px 3px;
    line-height: 15px;
    display: block;
    overflow:visible;
}

#kereso .toggle_container .datum{
    width: 110px !important;
    display: st !important;
}

#kereso .toggle_container ul{
    list-style-type: none;
    margin:0 10px;
    padding: 0;
    overflow: hidden;
    width:400px;
}

#kereso .toggle_container ul li{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    width:118px;
    float:left;
}

#kereso .toggle_container .kereses_gomb{
    margin:10px 0;
    height:35px;
    width:70px;
    display: block;
    color:#fff;
    background:#4a8cf7;
    border: 1px solid #3079ed;
}

ul.table-tags {
	list-style-type: none;
	border-top: 1px solid #888;
	border-bottom: 1px solid #B6B6B6;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	padding: 0px;
	margin: 0;
	overflow: auto;
	border-radius: 4px 4px 4px 4px;
}
ul.table-tags li {
	float: left;
	margin: 1px 4px 1px 0;
}

ul.table-tags li.as-selection-item {
	color: #2B3840;
	font-size: 11px;
	text-shadow: 0 1px 1px white;
	background-color: #DDEEFE;
	border: 1px solid #ACC3EC;
	border-top-color: #C0D9E9;
	padding: 1px 1px 1px 2px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-color:#dddddd;
	margin-left:0;
	background-color:#dddddd;
	color:#666666;
}


#temp_regi__ {
	color: #2B3840;
	font-size: 11px;
	text-shadow: 0 1px 1px white;
	background-color: #DDEEFE;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDEEFE), to(#BFE0F1));
	border: 1px solid #ACC3EC;
	border-top-color: #C0D9E9;
	padding: 1px 4px 1px 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 0 1px 1px #E4EDF2;
	-webkit-box-shadow: 0 1px 1px #E4EDF2;
	-moz-box-shadow: 0 1px 1px #e4edf2;
	border-color:#dddddd;
	margin-left:0;
	background-color:#dddddd;
	color:#666666;
}

#filter_doboz{
	float: right;

}
#loading_takaro{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:white;
	display:none;
	z-index:10000;
	opacity:0.5;
}



 #filter_doboz .center{
                text-align:center
            }

 #filter_doboz .clear{
                clear:both;
            }

 #filter_doboz .red{
                color:#970C01;

            }

 #filter_doboz .doboz{
                display:block;
                width:250px;
                height: 60px;
                margin: 0 20px 20px 20px;
                
            }

 #filter_doboz .doboz .belso{
               overflow:hidden;
            }

 #filter_doboz .doboz .belso .title{
                width:65px;
                float:left;
                font-weight:bold;
                text-align: right;
            }

 #filter_doboz .doboz .belso .content{
                width:185px;
                float:left;
            }
            
.ui-datepicker {
	z-index: 3000 !important;
	display: none;
}            
            
#ui-datepicker-div{
	display: none;
}