@CHARSET "UTF-8";
#sugo_dialog{
	background-color: #e1f0f5;
	font-size:12px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

#sugo_dialog ul{
	margin-left: 10px;
	padding-left: 10px;
	list-style: disc;
}


#sugo_html{
	width:370px;
	height: 450px;
	overflow: hidden;
	overflow-y: scroll;
	text-align:left;
	padding-right:10px
}

#sugo_html h1, #sugo_html h2, #sugo_html h3, #sugo_html h4, #sugo_html p, #sugo_html ul{
	text-align:left;
}

#sugo_html .info{
	border: 1px solid #0072b3;
	background-color: #ccf0fe;
	padding:5px;
	margin-top:5px;
	margin-bottom:5px;
}


#reciplist_dialog{
	background-color: #e1f0f5;
	font-size:12px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

#reciplist_dialog ul{
	margin-left: 10px;
	padding-left: 10px;
	list-style: disc;
}


#reciplist_html{
	width:470px;
	height: 520px;
	overflow: hidden;
	overflow-y: hidden;
	text-align:left;
	padding-right:10px
}

#reciplist_html h1, #reciplist_html h2, #reciplist_html h3, #reciplist_html h4, #reciplist_html p, #reciplist_html ul{
	text-align:left;
}

#reciplist_html .info{
	border: 1px solid #0072b3;
	background-color: #ccf0fe;
	padding:5px;
	margin-top:5px;
	margin-bottom:5px;
}