.buttons {
    float: left;
    padding-bottom: 20px;
    clear: both;
}
a.guibutton {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 10px;
}
a.guibutton:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.guibutton:active {
    color: #000;
    border-color: #444;
}
a.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}
a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.middle:hover,
a.right:hover { border-left: solid 1px #999 }
a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.big {
    font-size: 16px;
    padding: 10px 15px;
}
a.supersize {
    font-size: 20px;
    padding: 15px 20px;
}


a.tags {
    background: url(../icons2/color_18/item.png) no-repeat #f3f3f3;
	background-position-x: 7px;
	background-position-y: 5px;   
    padding-left: 30px;
}

a.tags-big {
    background: url(../icons2/color_128/item.png) no-repeat #f3f3f3;
	background-position-x: 7px;
	background-position-y: 5px;   
    padding-left: 30px;
}

a.search {
    background: url(../icons2/color_18/eye.png) no-repeat #f3f3f3;
	background-position-x: 7px;
	background-position-y: 5px;   
    padding-left: 30px;
}

a.search-big {
    background: url(../icons2/color_18/eye.png) no-repeat #f3f3f3;
	background-position-x: 7px;
	background-position-y: 9px;   
    padding-left: 30px;
}


a.modify {
    background: url(../icons2/color_18/screwdriver.png) no-repeat #f3f3f3;
	background-position-x: 7px;
	background-position-y: 5px;   
    padding-left: 30px;
}

a.save {
    background: url(../icons2/color_18/diskette.png) no-repeat #f3f3f3;
	background-position-x: 7px;
	background-position-y: 5px;   
    padding-left: 30px;
}

a.cancel {
    background: url(../icons2/color_18/cancel.png) no-repeat #f3f3f3;
	background-position-x: 7px;
	background-position-y: 5px;   
    padding-left: 30px;
}

a.back {
    background: url(../icons2/color_18/arrow_left2.png) no-repeat #f3f3f3;
	background-position-x: 7px;
	background-position-y: 5px;   
    padding-left: 30px;
}

a.add {
    background: url(../icons2/color_18/add.png) no-repeat #f3f3f3;
	background-position-x: 7px;
	background-position-y: 5px;   
    padding-left: 30px;
}

a.mail {
    background: url(../icons2/color_18/mail.png) no-repeat #f3f3f3;
	background-position-x: 7px;
	background-position-y: 5px;   
    padding-left: 30px;
}
