/* ----- HEADER ----- */

body#admin #adminWrap, body#admin #dashboard {
	background: none;
}
#case .shadowHeader, #case .shadowHeader .shadowMidLeft, #primaryNavs {
	background-color:#dddaad;
	/*background:transparent url("../../img/bg/top_bg.gif") repeat-x bottom;*/
}
.navheader {
	background: url("../../img/navigation/cm-blue/header-bg.gif") repeat-x right bottom;
}
.navheaderleft {
	background: url("../../img/navigation/cm-blue/header-bg-left.gif") no-repeat left bottom;
	_background: url("../../img/navigation/cm-blue/header-bg-left-white.gif") no-repeat left bottom;
}
#header {
	width:100%;
	font-size:12px;
	line-height:normal;
	text-align: left;
}
#header h1 {
	color: #890000;
	font: normal 24px Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	padding: 20px 0 22px 5px;
	line-height: 26px;
	/*text-shadow: #490000 1px 1px 3px;*/
}
#header h1.image {
	color: #fff;
	font: bold 24px arial, helvetica, sans-serif;
	padding:0 0 10px;
}
#header h1 span, #header h1.image span {
	color: #890000;
	font: bold 16px arial, helvetica, sans-serif;
	padding: 0 0 0 10px;
}
#header h1 span a, #header h1.image span a {
	background: url("../../img/navigation/cm-blue/switch-client.gif") no-repeat right 2px;
	color: #789fd7;
	padding-right: 25px;
}
#header h1 span a:hover, #header h1.image span a:hover {
	background: url("../../img/navigation/cm-blue/switch-client-on.gif") no-repeat right 2px;
}
#header h1 a {
	color: #890000;
	text-decoration: none;
}
#sampleColor {
	float: left;
	width: 27px;
	height: 27px;
	background: #144282;
	margin: 3px 10px 10px 0;
}

/* ----- TABLES ----- */

table.tableHeader th {
	background: url('../../img/bg/cm-blue/dark-table-head.gif') repeat-x top left;
	padding: 11px 6px 10px 6px;
	font-size: 12px;
	color: #333333;
}
table.tableHeader th.headerLeft, table.tableHeader th.headerLeftWithDropDown {
	background: url('../../img/bg/cm-blue/dark-table-head-left.gif') no-repeat top left;
	padding-left: 11px;
}
table.tableHeader th.headerLeft span {
	color: #333333;
}
table.tableHeader th.headerRight {
	background: url('../../img/bg/cm-blue/dark-table-head-right.gif') no-repeat top right;
	padding-right: 11px;
}
table.tableHeader th a {
	color: #42424c;
	text-decoration: none;
}
table.tableHeader th.dash {
	background: url('../../img/bg/cm-blue/dash-table-head.gif') repeat-x top left;
	padding: 11px 6px 10px 6px;
	font-size: 12px;
	color: #42424c;
}
table.tableHeader th.dashLeft {
	background: url('../../img/bg/cm-blue/dash-head-left.gif') no-repeat top left;
	padding-left: 11px;
}
table.tableHeader th.dashRight {
	background: url('../../img/bg/cm-blue/dash-head-right.gif') no-repeat top right;
	padding-right: 11px;
}
table.tableHeader th.dashLeft span {
	color: #77986d;
}
.bghighlight {
	background: #e7f2f7;
}
h3.sidebar {
	color: #484e54;
}
tr.highlightRow, tr.skinAltRow {
	background-color: #f8fcff;
}


/* ----- LINKS AND FORMS ----- */

a:link, a:visited, a:hover, a:active {
	color: #950000;
}
a.manage {
	color: #797979;
	font-size: 11px;
}
table.tableHeader th.sectionTitle span a {
	color: #3081dd;
	text-decoration: underline;
}
.formBG h3, label.h3checkbox, .formBGCSS h3 {
	color: #950000;
	font-size: 14px;
	font-weight: bold;
}
.formBG label.checkbox {
	color: #204e8e;
}


/* ----- PRIMARY NAVS ----- */

#primaryNavs {
	margin: 0 6px 0 6px;
}
#primaryNavs ul {
	margin:0;
	padding:0 15px 0 0;
	list-style:none;
}
#primaryNavs li {
	display:inline;
	margin:0;
	padding:0;
}
#primaryNavs a {
	float:left;
	background:url("../../img/navigation/cm-blue/left_both.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 12px;
	text-decoration:none;
	font-size: 12px;
	display: inline;
}
#primaryNavs a span {
	float:left;
	display:block;
	background:url("../../img/navigation/cm-blue/right_both.gif") no-repeat right top;
	padding:8px 12px 8px 0;
	font-weight:bold;
	color:#fff;
	text-shadow: #1a3c6f 1px 1px 1px;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#primaryNavs a span {float:none;}
/* End IE5-Mac hack */
#primaryNavs a:hover span {
	color:#fff;
}
#primaryNavs #current a {
	background-image:url("../../img/navigation/cm-blue/left_on.gif");
	border-width:0;
}
#primaryNavs #current a span {
	background-image:url("../../img/navigation/cm-blue/right_on.gif");
	color:#9e0000;
	padding-bottom:8px;
	text-shadow: none;
}
#primaryNavs #currentSub a {
	background-image:url("../../img/navigation/cm-blue/left-sub_on.gif");
	border-width:0;
}
#primaryNavs #currentSub a span {
	background-image:url("../../img/navigation/cm-blue/right-sub_on.gif");
	color:#06476f;
	padding-bottom:8px;
	text-shadow: none;
}
#primaryNavs a:hover {
	background-position:0% -31px;
}
#primaryNavs a:hover span {
	background-position:100% -31px;
}
#primaryNavs #current a:hover, #primaryNavs #currentSub a:hover {
	background-position: top left;
}
#primaryNavs #current a:hover span, #primaryNavs #currentSub a:hover span {
	background-position: top right;
}
#secondaryNavs ul {
	margin-right: 5px;
}
#secondaryNavs a {
	float:right;
	background:url("../../img/navigation/cm-blue/left_both.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 12px;
	text-decoration:none;
}
#secondaryNavs a span {
	float:right;
	display:block;
	background:url("../../img/navigation/cm-blue/right_both.gif") no-repeat right top;
	padding:8px 12px 8px 0;
	font-weight:bold;
	color:#fff;
	text-shadow: #414141 1px 1px 1px;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#secondaryNavs a span {float:none;}
/* End IE5-Mac hack */


/* ----- SUB NAVS ----- */

#subNavs {
	background: #f0f9ff;
	margin: -1px -2px 0 -4px;
	border-bottom: 1px solid #e4f2fb;
	padding: 10px 19px 8px 19px;
	font-size: 11px;
	font-weight: bold;
	color: #5b7091;
}
#subNavs a {
	color: #5b7091;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 9px;
}
#subNavs a.active, #subNavs a:hover {
	color: #032757;
}

/* ----- CLIENT NAVS ----- */

.clientNavs a span {
	color:#7e99bf;
}
.clientNavs a:hover span, .clientNavs li#clientNavsOn a span {
	color:#fff;
}

/* ----- DECORATIVE ----- */

div.segmentDivider span {
	background: #75abcd;
}
.gaAlert {
	color: #4d758f;
	background-color: #d5ebfa;
}